body {
    // font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: $bodytextcolor;
}

.color-blue {
    color: $blue;
}

.color-white {
    color: $white;
}

.color-black {
    color: $black;
}

.blackheading {
    color: $blackheading;
}

.row {
    max-width: 100%;
}

h2 {
    font-family: Bitter;
    color: #365e86;
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 60px;
}

h3 {
    font-family: Bitter;
    color: #365e86;
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 20px;
}

h4 {
    font-family: Bitter;
    color: #365e86;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 20px;
}

h5 {
    color: #365e86;
    font-family: Bitter;
    font-size: 22px;
}

h6 {
    color: #365e86;
    font-family: Bitter;
    font-size: 18px;
}

a {
    color: #2c4a6a;
    &:hover {
        opacity: 0.8;
        color: inherit;
    }
}

b,
strong {
    font-weight: 500;
}

i {
    font-style: italic;
}

li {
    list-style: none;
    &:last-child {
        margin-bottom: 0px;
    }
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

.text-center {
    text-align: center;
}

.overflow-hidden {
    overflow: hidden;
}

.nopadding {
    padding: 0px!important;
}

.m-b-30 {
    margin-bottom: 30px;
}

.relative {
    position: relative;
}

.blue-btn {
    background-color: #365e86;
    display: inline-block;
    font-family: Bitter;
    color: #ffffff;
    font-size: 16px;
    padding: 12px 25px;
    text-align: center;
}

.black-btn {
    background-color: $bodytextcolor;
    display: inline-block;
    font-family: Bitter;
    color: #ffffff;
    font-size: 16px;
    padding: 12px 25px;
    text-align: center;
}

.max-width {
    max-width: 100%;
}

.max-width-600 {
    max-width: 600px;
    margin: 0 auto;
}

img.responsive-img {
    max-width: 100%;
}

.top-bar {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
    padding-left: 25px;
    padding-right: 25px;
    flex-wrap: wrap;
    .menu.medium-horizontal {
        flex-wrap: wrap;
    }
    ul {
        background: #fff;
        a {
            color: $header-blue;
            text-transform: uppercase;
            padding-left: 12px;
            padding-right: 12px;
            font-size: 14px;
        }
        .is-dropdown-submenu {
            min-width: 400px;
            background: #D5E7F2;
            left: -160px!important;
            border: none;
            top: 38px;
            padding: 10px 25px;
            padding-bottom: 60px;
            li {
                display: block;
                width: 50%;
                float: left;
                a {
                    text-transform: capitalize;
                }
            }
        }
    }
    .search-icon {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.see-all {
    a {
        color: #fff;
        background-color: $blue;
        font-family: Bitter;
    }
}

.see-all.absolute {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto !important;
    padding: 10px 60px 10px 25px;
    background-color: #365e86;
    background-image: url("../images/right-arrow.png");
    background-repeat: no-repeat;
    background-position: 85% 50%;
    min-width: 135px;
    a {
        color: #fff;
        padding: 0px;
    }
}

.site-logo {
    background: url('../images/logo.png');
    height: 40px;
    width: 322px;
    background-size: 100% 100%;
    position: relative;
    a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        font-size: 0px;
    }
}

.search-icon {
    width: 60px;
    height: 32px;
    background: url('../images/search-icon.png');
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
}

.footer-section-1 {
    width: 320px;
    height: 40px;
    background: url("../images/footer-logo.png");
    background-size: 320px 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.footer-section-4 a {
    width: 43px;
    height: 43px;
    background-size: 43px 43px;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    font-size: 0px;
    &.instagram {
        background: url("../images/instagram.png");
    }
}

.page-home {
    .banner {
        position: relative;
        .banner-image {
            img {
                width: 100%;
            }
        }
    }
    .banner-content {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: transparent;
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
    }
    .banner-content-wrapper {
        text-align: center;
        flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        align-self: center;
        .tagline {
            color: #fff;
            text-transform: uppercase;
            font-weight: 500;
            margin-top: 20px;
            position: static;
            top: 0;
            transform: none;
            -webkit-transform: none;
        }
    }
    .company-description {
        padding: 100px 0 70px;
        background: $cream;
        p {
            font-family: Bitter;
            font-size: 18px;
            max-width: 830px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            width: 75%;
            margin-bottom: 40px;
        }
    }
    .twin-blocks {
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: row;
        -moz-flex-direction: row;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        overflow: hidden;
        .left-block,
        .right-block {
            flex: 1;
            -webkit-flex: 1;
            -moz-flex: 1;
            -ms-flex: 1;
            max-width: 50%;
        }
        .see-more {
            display: none;
        }
    }
    .journals {
        background-color: $blue;
        .row {
            max-width: 100%;
            padding-bottom: 60px;
        }
        .large-4 {
            margin-top: 120px;
            padding: 0 50px 0 120px;
            h2 {
                margin-bottom: 25px;
            }
            p {
                font-size: 16px;
                font-family: Bitter;
                margin-bottom: 35px;
            }
            a.black-btn {
                font-size: 12px;
                padding: 6px 25px;
            }
        }
        .large-8 {
            padding-top: 68px;
            padding-left: 0px;
            padding-right: 0px;
            position: relative;
            overflow: hidden;
            h5 {
                margin-bottom: 25px;
                color: white;
                font-size: 24px;
            }
            .carousel-item {
                background-color: $darkcream;
                // margin-right: 25px;
                padding: 30px;
                border-right: 1px solid #365e86;
                .item-header {
                    p {
                        font-size: 16px;
                        color: #262a2f;
                        margin-bottom: 15px;
                    }
                    b {
                        margin-right: 10px;
                    }
                }
                hr {
                    border-bottom: 1px solid $bodytextcolor;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
                .item-content {
                    font-family: Bitter;
                    color: #262a2f;
                    font-size: 16px;
                }
            }
        }
    }
    .news {
        .row {
            max-width: 100%;
            padding-bottom: 60px;
            .row {
                margin-left: 0px;
                margin-right: 0px;
            }
        }
        .large-4 {
            margin-top: 120px;
            padding: 0 50px 0 120px;
            h2 {
                margin-bottom: 25px;
            }
            p {
                font-size: 16px;
                font-family: Bitter;
                margin-bottom: 35px;
                color: $bodytextcolor;
            }
            a.blue-btn {
                font-size: 12px;
                padding: 6px 25px;
            }
        }
    }
    .featured-industries {
        background-image: url('../images/areas-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 90px 60px 80px 130px;
        ul {
            margin: 0;
            li {
                margin-bottom: 40px;
                &:last-child {
                    margin-bottom: 0;
                }
                [type=radio] {
                    display: none;
                }
                [type=radio]:checked~label {
                    text-decoration: underline;
                    color: $cream;
                }
                .content {
                    opacity: 0;
                    padding: 90px 65px 100px 90px;
                    position: absolute;
                    width: 50%;
                    left: 50%;
                    top: 0;
                    height: 100%;
                    overflow-y: auto;
                    p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 19;
                        line-height: 24px;
                        max-height: 456px;
                    }
                    h5 {
                        margin-bottom: 20px;
                    }
                    p {
                        color: $blackheading;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                    }
                }
                label {
                    font-size: 22px;
                    color: $white;
                    font-family: Bitter;
                }
                [type=radio]:checked~label~.content {
                    z-index: 1;
                    opacity: 1;
                }
            }
        }
    }
    .our-offices {
        padding: 90px 60px 80px 130px;
        position: relative;
        background: $darkcream;
        h2 {
            margin-bottom: 45px;
        }
        ul {
            margin: 0px;
            li {
                margin-bottom: 40px;
                &:last-child {
                    margin-bottom: 1px;
                }
                h5 {
                    margin-bottom: 10px;
                    a {
                        color: $blue;
                    }
                }
                p {
                    margin-bottom: 0px;
                    color: #252a2f;
                }
            }
        }
    }
    .map {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        img {
            min-width: 100%;
        }
    }
}

.slider-controls {
    position: absolute;
    top: 50%;
    background-color: rgba(30, 25, 20, 0.28);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    i {
        font-size: 24px;
        color: $white;
        margin-top: 26px;
    }
    &.prev {
        left: -40px;
        i {
            margin-left: 30px;
        }
    }
    &.next {
        right: -40px;
        i {
            margin-left: -30px;
        }
    }
}

.owl-controls {
    display: none!important;
}

.scrollItem {
    position: relative;
}

.news-blocks {
    overflow: hidden;
    margin-top: 80px;
}

#arrowRight, #arrowLeft{
    display: none;
}

.news-block-left {
    .news-block {
        box-shadow: 0px 0px 8px rgba(30, 25, 20, 0.2);
        -webkit-box-shadow: 0px 0px 8px rgba(30, 25, 20, 0.2);
        height: 478px;
        margin-bottom: 10px;
    }
    .block-header {
        height: 200px;
        overflow: hidden;
        position: relative;
        img {
            min-height: 200px;
            max-width: 480px;
            min-width: 100%;
        }
    }
    .block-footer {
        padding: 25px;
        h3 {
            margin-bottom: 25px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-height: 34px;
            max-height: 68px;
        }
        p {
            margin-bottom: 45px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            line-height: 22px;
            max-height: 88px;
        }
    }
}

.news-block-right {
    .news-block {
        height: 230px;
        margin-bottom: 18px;
    }
    .block-header {
        height: 100px;
        overflow: hidden;
        position: relative;
        img {
            min-height: 100px;
            min-width: 100%
        }
    }
    .block-footer {
        background-color: #f1f0ef;
        padding: 20px 60px 20px 20px;
        height: 130px;
        h5 {
            color: #1a497c;
            margin-bottom: 0px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            line-height: 26px;
            max-height: 78px;
        }
        p {
            display: none;
        }
    }
}

.grid-badge {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #3c97d7;
    color: #fff;
    text-align: center;
    padding: 5px;
    h5 {
        line-height: 18px;
        margin-bottom: 0;
        color: #fff;
    }
    span {
        font-family: Bitter;
        font-size: 10px;
        position: relative;
        top: -4px;
    }
}

.banner {
    position: relative;
    width: 100%;
    p {
        color: #ebebeb;
        font-size: 24px;
        overflow: hidden;
        -webkit-line-clamp: 2;
        line-height: 28px;
        max-height: 56px;
        max-width: 480px;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        -webkit-transform: translate(0%, -50%);
        -moz-transform: translate(0%, -50%);
        -o-transform: translate(0%, -50%);
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .banner-image {
        img {
            min-height: 200px;
            min-width: 100%;
        }
    }
}

.detail-page {
    .content-wrapper {
        max-width: 630px;
        margin: 0 auto;
        padding: 60px 15px 100px 15px;
    }
}

.listing-page {
    .content-wrapper {
        max-width: 1076px;
        margin: 0 auto;
        padding: 110px 15px 80px 15px;
        h2 {
            text-align: center;
            margin-bottom: 100px;
            color: $blackheading;
        }
    }
}

.has-rightsidebar {
    overflow: hidden;
    .news-date {
        font-size: 16px;
        a {
            color: $blue;
            margin-right: 15px;
            font-style: italic;
            font-family: Bitter;
        }
    }
    .content-wrapper {
        max-width: 100%;
        margin: 0;
        width: 75%;
        padding-left: 60px;
        float: left;
    }
    .right-sidebar {
        float: left;
        width: 20%;
        // max-width: 225px;
        padding: 25px;
        margin-top: 106px;
        border: 1px solid #d5d5d5;
        margin-left: 2.5%;
        margin-right: 2.5%;
        font-family: Bitter;
    }
}

.has-leftsidebar {
    .left-sidebar {
        float: left;
        width: 20%;
        // max-width: 225px;
        padding: 25px;
        margin-top: 106px;
        border: 1px solid #d5d5d5;
        margin-left: 2.5%;
        margin-right: 2.5%;
        font-family: Bitter;
    }
    .content-wrapper {
        max-width: 900px;
        margin: 0;
        width: 75%;
        padding-left: 50px;
        float: left;
        padding-right: 10%;
    }
}

.has-bothsidebars {
    .left-sidebar {
        float: left;
        width: 20%;
        padding: 25px;
        margin-top: 106px;
        border: 1px solid #d5d5d5;
        margin-left: 2.5%;
        margin-right: 2.5%;
        font-family: Bitter;
    }
    .right-sidebar {
        float: left;
        width: 20%;
        padding: 25px;
        margin-top: 106px;
        border: 1px solid #d5d5d5;
        margin-left: 2.5%;
        margin-right: 2.5%;
        font-family: Bitter;
    }
    .content-wrapper {
        margin: 0;
        width: 50%;
        padding-left: 50px;
        padding-right: 50px;
        float: left;
        max-width: 2000px;
    }
}

footer {
    padding: 120px 0 60px;
    background: $blackheading;
    .row {
        max-width: 1100px;
        ul {
            margin-bottom: 0px;
            li {
                margin-bottom: 12px;
                a {
                    color: #fff;
                    font-size: 16px;
                }
            }
        }
    }
    .footer-section-2 {
        display: none;
        a {
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
        }
    }
    .copyright {
        color: #e4e3e2;
        margin-top: 100px;
        margin-bottom: 0px;
    }
}