.page-journals {
    .content-wrapper {
        max-width: 100%;
        padding-top: 100px;
        padding-bottom: 105px;
        padding-left: 100px;
        padding-right: 100px;
        h2 {
            margin-bottom: 0px;
        }
        &:first-child {
            padding-top: 55px;
            padding-bottom: 30px;
        }
        .tabs-content {
            color: #262a2f;
            border: none;
            max-width: 1106px;
            margin: 0 auto;
            .tabs-panel {
                padding: 0px;
                overflow: hidden;
            }
        }
        .row {
            max-width: 100%;
        }
        .label-and-date {
            label {
                color: #262a2f;
                font-size: 16px;
                display: inline-block;
                font-weight: 700;
                margin-right: 10px;
            }
            span {
                font-size: 16px;
            }
        }
        .load-more {
            .blue-btn {
                height: 30px;
                font-size: 12px;
                padding: 6px 10px;
            }
        }
        .small-row {
            width: 50%;
            float: left;
            padding: 0 15px;
        }
        .large {
            padding-bottom: 40px;
            border-bottom: 1px solid #262a2f;
            margin-bottom: 50px;
            h3 {
                margin: 15px 0;
                color: #1a497c;
                font-size: 50px;
                font-weight: 400;
                line-height: 50px;
            }
            .profile {
                width: 33.3%;
                float: left;
                .img-section {
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    overflow: hidden;
                    float: left;
                    margin-right: 15px;
                    img {
                        min-width: 65px;
                        min-height: 65px;
                    }
                }
                .details {
                    overflow: hidden;
                }
                h5 {
                    color: #1a497c;
                    font-size: 24px;
                    font-style: italic;
                    margin: 5px 0;
                    line-height: 24px;
                }
                span {
                    font-size: 16px;
                    display: block;
                }
                .view-more {
                    .blue-btn {
                        height: 40px;
                        font-size: 12px;
                        padding: 11px 10px;
                        position: absolute;
                        left: 0px;
                        bottom: 0px;
                    }
                }
            }
            .content {
                width: 66.6%;
                float: left;
                text-align: left;
                p {
                    font-family: Bitter;
                    font-size: 18px;
                    line-height: 32px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 8;
                    max-height: 256px;
                    margin-bottom: 0px;
                }
                .view-more {
                    display: none;
                }
            }
        }
        .small {
            padding-right: 25%;
            margin-bottom: 110px;
            h3 {
                margin: 10px 0;
                color: #1a497c;
                font-size: 30px;
                font-weight: 400;
                line-height: 32px;
            }
            .profile {
                padding-bottom: 19px;
                margin-bottom: 17px;
                border-bottom: 1px solid $bodytextcolor;
                .img-section {
                    width: 33px;
                    height: 33px;
                    border-radius: 50%;
                    overflow: hidden;
                    float: left;
                    margin-right: 8px;
                    img {
                        min-width: 33px;
                        min-height: 33px;
                    }
                }
                .details {
                    overflow: hidden;
                }
                h5 {
                    color: #1a497c;
                    font-size: 16px;
                    font-style: italic;
                    margin: 0px;
                    line-height: 20px;
                }
                span {
                    display: block;
                }
                .view-more {
                    display: none;
                }
            }
            .content {
                p {
                    font-family: Bitter;
                    font-size: 16px;
                    line-height: 24px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 5;
                    max-height: 120px;
                    margin-bottom: 30px;
                }
                .view-more {
                    .blue-btn {
                        height: 40px;
                        font-size: 12px;
                        padding: 11px 10px;
                    }
                }
            }
        }
    }
    .news-filters>ul {
        background-color: $darkcream;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            display: block;
            select {
                max-width: 100px;
            }
        }
        .tabs {
            background-color: $darkcream;
        }
    }
}

.page-journals-open {
    .detail-page .content-wrapper {
        max-width: 1076px;
        padding-top: 75px;
        padding-bottom: 150px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .left-sidebar {
        color: #4b4d53;
        width: 220px;
        margin-right: 40px;
        float: left;
        .img-section {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 20px;
            img {
                min-width: 100px;
                min-height: 100px;
            }
        }
        a {
            font-family: Bitter;
            color: #365e86;
            display: block;
        }
        .date {
            font-weight: 700;
        }
        label {
            color: #4b4d53;
        }
        .name span {
            font-family: Bitter;
            color: #365e86;
            font-size: 20px;
            font-style: italic;
        }
    }
    .content-right {
        overflow: hidden;
        .news-date {
            font-size: 16px;
        }
        h2 {
            margin-bottom: 55px;
        }
        p {
            font-family: Bitter;
            color: #4b4d53;
            font-size: 16px;
            margin-bottom: 30px;
        }
        h5 {
            font-size: 18px;
            margin-bottom: 30px;
        }
        ul {
            padding-left: 15px;
        }
        li {
            color: #365e86;
            line-height: 1.6;
            list-style: initial;
            margin-bottom: 25px;
            strong {
                font-weight: 700;
            }
        }
        .share {
            margin-top: 115px;
            margin-bottom: 35px;
            .black-btn {
                background-color: #f68e56;
            }
        }
        .references {
            color: #4b4d53;
            p {
                font-family: Bitter;
                color: #4b4d53;
                a {
                    color: #365e86;
                }
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
}