.page-user {
    header {
        margin-bottom: 60px;
        border-bottom: 1px solid #e6e6e6;
    }
    form {
        width: 100%;
        max-width: 450px;
        .description {
            font-size: 13px;
            color: #4b4d53;
        }
    }
    footer {
        margin-top: 60px;
    }
}

.tabs {
    border: none;
    ul.primary {
        background: #fff!important;
        margin: 0px 0px 30px 0px !important;
        border: none;
        padding-left: 0px;
        li {
            display: block;
            float: left;
            margin-right: 10px;
            a,
            a:hover,
            a:focus,
            a:active {
                margin: 0 !important;
                background: #fff;
                border: 1px solid #e6e6e6;
                font-size: 14px;
                text-transform: uppercase;
                padding: 15px 50px!important;
                color: #1e1914;
                display: inline-block;
            }
            &.active {
                a {
                    background: #365e86 !important;
                    border: 1px solid #365e86;
                    color: #fff;
                }
            }
        }
    }
}

.form-item {
    margin: 0px 0px 20px 0px;
    label {
        color: #4b4d53;
        line-height: 16px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    input,
    input:focus {
        background-color: #fff;
        height: 42px;
        border-radius: 0px;
        border: 1px solid #edece9;
        margin-bottom: 5px;
        box-shadow: none;
        color: #4b4d53;
        padding-left: 25px;
        padding-right: 25px;
        display: block;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        background-image: none;
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
}

input[type="submit"] {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    color: #1e1914;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0px;
    height: 43px;
    background-color: #fff;
    border: 1px solid #365e86;
    position: relative;
    min-width: 88px;
}

input[type="submit"]:hover,
input[type="submit"]:active {
    background-color: #365e86;
    color: #fff;
}

.top-select-box {
    margin-bottom: 50px;
    select {
        margin-bottom: 0px;
    }
    label {
        float: left;
        font-family: Bitter;
        color: #b8b6b3;
        font-size: 12px;
        padding-top: 5px;
        font-weight: 400;
        padding-right: 6px;
        position: relative;
        padding-left: 10px;
        margin-bottom: 0px!important;
        line-height: 20px;
        &:after {
            content: ":";
            position: absolute;
            right: 0px;
            top: 4px;
            color: #b8b6b3;
        }
    }
    .views-exposed-widget {
        float: none;
        margin-right: 10px;
        vertical-align: middle;
        padding: 0px;
        display: inline-block;
        background-color: #f1f2f7;
    }
    .views-widget {
        float: right;
    }
}

ul.pager {
    text-align: center;
    margin-top: 50px;
    a {
        background-color: #365e86;
        display: inline-block;
        font-family: Bitter;
        color: #ffffff;
        font-size: 16px;
        padding: 12px 25px;
        text-align: center;
    }
}

.view-empty {
    text-align: center;
    color: #4b4d53;
    font-size: 18px;
}

.attachments {
    margin-left: 0px;
    li {
        font-size: 11px;
        list-style: none;
        a {
            display: inline-block;
            padding: 5px 10px;
            background: #2c4a6a;
            color: #fff;
            position: relative;
            padding-left: 40px;
            font-size: 14px;
            &:after {
                font: normal normal normal 18px/1 FontAwesome;
                height: 100%;
                position: absolute;
                top: 0;
                width: 32px;
                text-align: center;
                background: #2c4a6a;
                padding-top: 7px;
                border-right: 1px solid;
                content: "\f0c6";
                left: 0;
            }
        }
    }
}