.page-careers {
    .listing-page .content-wrapper {
        max-width: 600px;
        color: #4b4d53;
        padding-top: 110px;
        padding-bottom: 110px;
        h2 {
            color: #252524;
            margin-bottom: 50px;
            text-align: center;
        }
        a {
            color: #3c97d7;
        }
        ul {
            margin-left: 0px;
            margin-top: 70px;
            li {
                font-family: Bitter;
                border-bottom: 1px solid rgba(75, 77, 83, 0.2);
                padding: 15px 0 10px 0;
                .row {
                    margin-left: -15px;
                    margin-right: -15px;
                }
                label {
                    font-family: Bitter;
                    color: #4b4d53;
                    line-height: 14px;
                }
                h5 {
                    font-size: 24px;
                    margin-bottom: 0px;
                    a {
                        color: #365e86;
                    }
                }
                i {
                    color: #365e86;
                }
            }
        }
    }
}

.page-careers-open {
    .detail-page .content-wrapper {
        a {
            color: #3c97d7;
        }
        max-width: 1076px;
        padding-left: 15px;
        padding-right: 15px;
        color: #4b4d53;
        padding-top: 60px;
        padding-bottom: 140px;
        .left {
            label {
                color: #262a2f;
                font-size: 16px;
                line-height: 16px;
            }
            h2 {
                color: #365e86;
                margin-bottom: 30px;
                text-align: left;
            }
            .description {
                color: #4b4d53;
                font-size: 18px;
                margin-bottom: 45px;
            }
            h5 {
                font-size: 18px;
                margin-bottom: 30px;
            }
            p {
                margin-bottom: 45px;
            }
        }
        .right {
            .box {
                padding: 20px 15px;
                border: 1px solid #b8b6b3;
                font-family: Bitter;
                margin-bottom: 50px;
                .row {
                    margin-left: 0px;
                    margin-right: 0px;
                    margin-bottom: 25px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
                i {
                    color: #365e86;
                }
            }
            form {
                background-color: #f1f0ef;
                padding: 40px 60px;
                h4 {
                    color: #262a2f;
                    font-size: 24px;
                    margin-bottom: 30px;
                    text-align: center;
                }
                label,
                select {
                    color: #4b4d53;
                    font-size: 14px;
                }
                input {
                    background-color: $white;
                    box-shadow: none;
                    border: none;
                    height: 40px;
                    border-radius: 0px;
                    margin-bottom: 10px;
                }
                .submit {
                    margin-top: 40px;
                    a {
                        font-size: 12px;
                        height: 40px;
                        color: $white;
                        padding: 11px 43px;
                    }
                }
            }
        }
    }
}