.page-contact {
    .listing-page .content-wrapper {
        padding-top: 110px;
        padding-bottom: 60px;
        max-width: 600px;
        h2 {
            color: #252524;
            margin-bottom: 100px;
            text-align: center;
        }
        p {
            color: #4b4d53;
            margin-bottom: 70px;
            line-height: 24px;
        }
        ul {
            margin: 0px;
            li {
                margin-bottom: 50px;
                i {
                    color: #365e86;
                    margin-right: 10px;
                    font-size: 24px;
                }
                a {
                    color: #365e86;
                    font-size: 24px;
                }
            }
        }
    }
}

.page-contact-open {
    .detail-page .content-wrapper {
        [type='text'],
        [type='email'],
        [type='number'],
        [type='tel'] {
            border-top: none;
            border-left: none;
            border-right: none;
            box-shadow: none;
            border-radius: 0px;
            border-bottom: 1px solid #333333;
            margin-bottom: 55px;
            background: #fff;
        }
        textarea {
            border-radius: 0px;
            box-shadow: none;
            border: 1px solid #333333;
            background: #fff;
            min-height: 198px;
            margin-bottom: 0px;
        }
        .inputs {
            position: relative;
            label {
                position: absolute;
                color: #333333;
                font-size: 16px;
                line-height: 16px;
                top: 11px;
                left: 21px;
            }
        }
        .inputs input:focus {
            &+label {
                display: none;
            }
        }
        form {
            p {
                color: #333333;
                font-size: 16px;
                padding: 0 15px;
                margin-bottom: 30px;
            }
        }
        .submit {margin-top: 60px;}
    }
}

.asterisk {
    color: #90231c;
    font-size: 16px;
}

.checkbox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px;
    [type="checkbox"] {
        opacity: 0;
        z-index: 1;
        margin-bottom: 0px;
        flex: 0;
        &:checked+label {
            &::after {
                content: "\f00c";
                display: inline-block;
                position: absolute;
                width: 16px;
                height: 16px;
                left: 18px;
                top: -4px;
                margin-left: -20px;
                padding-left: 3px;
                padding-top: 1px;
                font-size: 11px;
                color: #555555;
                font-family: 'FontAwesome';
                font-size: 14px;
                color: #2c4a6a;
            }
        }
    }
    label {
        flex: 1;
        margin: 0px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-left: 25px;
        color: #333333;
        font-size: 16px;
        line-height: 22px;
        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 17px;
            height: 17px;
            left: 0;
            top: 0%;
            border: 1px solid #333333;
            border-radius: 0px;
            background-color: #fff;
            -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        }
    }
}