.simple-timeline > ul {
  width: 100%;
  margin: 0;
  padding: 0 !important;
  position: relative;
  display: inline-block;
  list-style: none;
  background: url('./img/ul-bg.png') left top repeat-y;
}

.item-list.simple-timeline > ul > li {
  margin: inherit !important;
  padding: inherit !important;
  clear: both;
}
.simple-timeline > ul > li .simple-timeline-fields {
  background: url('./img/li-bg.png') 2px center no-repeat;
  margin-left: -10px;
  padding-left: 30px;
}
.simple-timeline-fields .timeline-content {
  min-width: 125px;
}
.simple-timeline-fields .timeline-text{
  margin-left: 2%;
}

@media screen and (min-width: 767px) {
  .simple-timeline > ul {
    background-position: center;
  }

  .simple-timeline > ul > li {
    width: 50%;
  }
  .item-list.simple-timeline > ul > li {
    padding: 0;
  }

  .simple-timeline > ul > li.views-row-odd {
    text-align: right;
  }
  .simple-timeline > ul > li.views-row-even {
    float: right;
  }

  .simple-timeline > ul > li.views-row-odd .simple-timeline-fields {
    margin-right: -10px;
    padding-right: 25px;

    margin-left: 0;
    padding-left: 0;
    background-position: right;
  }
  .simple-timeline > ul > li.views-row-even .simple-timeline-fields {
    background-position: left;
  }

  .simple-timeline > ul > li.views-row-odd > .simple-timeline-fields .timeline-image img {
    float: right;
  }
  .simple-timeline > ul > li.views-row-odd > .simple-timeline-fields .timeline-text{
    margin-right: 2%;
  }

}
