.page-practise-areas {
    .listing-page .content-wrapper {
        padding-bottom: 50px;
        h2 {
            margin-bottom: 35px;
        }
    }
    .grid {
        margin-bottom: 25px;
        .img-section {
            max-height: 150px;
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
                min-width: 100%;
                min-height: 150px;
            }
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $blue;
                top: 0;
                left: 0;
                opacity: 0.6;
            }
        }
        h3 {
            margin-top: 25px;
        }
        p {
            font-size: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            line-height: 21px;
            max-height: 84px;
            margin-bottom: 0px;
        }
        .content {
            padding: 0 15px 25px 15px;
        }
        .grid-section {
            box-shadow: 0px 2px 8px 0px rgba(30, 25, 20, 0.2);
            -webkit-box-shadow: 0px 2px 8px 0px rgba(30, 25, 20, 0.2);
            height: 100%;
            position: relative;
        }
        .view-more {
            position: absolute;
            padding: 0 15px;
            right: 0;
            bottom: 15px;
            background: #fff;
            img {
                width: 20px;
            }
        }
    }
}

.top-select-box, .top-select-box .form-item {
    select {
        display: inline-block;
        width: 150px;
        border: none;
        font-family: Bitter;
        color: #b8b6b3;
        font-size: 12px;
        background-image: none;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0px;
        background-color: #f1f2f7;
        outline: none;
        padding-top: 0;
        padding-bottom: 0;
        height: 30px;
        background-image: url("../images/select-down.png");
    }
    .select-box {
        margin-bottom: 50px;
        display: inline-block;
        background: #f1f2f7;
        padding-left: 10px;
        position: relative;
        height: 30px;
        label {
            float: left;
            font-family: Bitter;
            color: #b8b6b3;
            font-size: 12px;
            padding-top: 5px;
        }
        i {
            position: absolute;
            top: 7px;
            right: 11px;
            color: #b8b6b3;
        }
    }
}

.page-practise-areas-detail {
    .detail-page {
        .content-wrapper {
            padding-top: 70px;
            padding-bottom: 65px;
            .short-description {
                color: #4b4d53;
                font-size: 18px;
                margin-bottom: 85px;
            }
            p {
                margin-bottom: 40px;
                color: #4b4d53;
                line-height: 1.8;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
            h5 {
                font-size: 18px;
                margin-bottom: 20px;
            }
            ul {
                margin-bottom: 40px;
                padding-left: 15px;
                li {
                    color: $blue;
                    font-size: 16px;
                    margin-bottom: 15px;
                    list-style: initial;
                }
            }
        }
    }
    .bottom-content-slider {
        padding: 50px 0;
        .heading {
            h5 {
                font-family: Bitter;
                color: #b8b6b3;
                font-size: 18px;
                margin-bottom: 45px;
                font-weight: 400;
            }
        }
        .content {
            h5 {
                color: #1a497c;
                font-size: 16px;
            }
            p {
                font-family: Bitter;
                color: #4b4d53;
                font-size: 12px;
                margin-bottom: 5px;
            }
        }
        .img-section {
            overflow: hidden;
            img {
                min-height: 130px;
                min-width: 100%;
            }
        }
        .owl-item {
            box-shadow: 0px 2px 4px 0px rgba(30, 25, 20, 0.2);
            -webkit-box-shadow: 0px 2px 4px 0px rgba(30, 25, 20, 0.2);
        }
    }
}