body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #1e1914; }

.color-blue {
  color: #365e86; }

.color-white {
  color: #fff; }

.color-black {
  color: #000; }

.blackheading {
  color: #252525; }

.row {
  max-width: 100%; }

h1 {
  font-family: Bitter;
  color: #365e86;
  font-size: 54px;
  line-height: 60px;
  margin-bottom: 60px; }

h2 {
  font-family: Bitter;
  color: #365e86;
  font-size: 48px;
  line-height: 54px;
  margin-bottom: 60px; }

h3 {
  font-family: Bitter;
  color: #365e86;
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 20px; }

h4 {
  font-family: Bitter;
  color: #365e86;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 20px; }

h5 {
  color: #365e86;
  font-family: Bitter;
  font-size: 22px;
  margin-bottom: 20px; }

h6 {
  color: #365e86;
  font-family: Bitter;
  font-size: 18px;
  margin-bottom: 20px; }

a {
  color: #2c4a6a; }
  a:hover {
    color: #2c4a6a;
    opacity: 0.8; }

a.blue-btn,
a.black-btn {
  color: #fff; }
  a.blue-btn:hover,
  a.black-btn:hover {
    color: #fff; }

b,
strong {
  font-weight: 600; }

i {
  font-style: italic; }

li {
  margin-bottom: 5px; }
  li:last-child {
    margin-bottom: 0px; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

.text-center {
  text-align: center; }

.overflow-hidden {
  overflow: hidden; }

.nopadding {
  padding: 0px !important; }

.m-b-30 {
  margin-bottom: 30px; }

.relative {
  position: relative; }

.blue-btn {
  background-color: #365e86;
  display: inline-block;
  font-family: Bitter;
  color: #ffffff;
  font-size: 16px;
  padding: 12px 25px;
  text-align: center; }

.black-btn {
  background-color: #1e1914;
  display: inline-block;
  font-family: Bitter;
  color: #ffffff;
  font-size: 16px;
  padding: 8px 24px;
  text-align: center; }

.max-width {
  max-width: 100%; }

.max-width-600 {
  max-width: 600px;
  margin: 0 auto; }

img.responsive-img {
  max-width: 100%; }

.top-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fff;
  padding-left: 25px;
  padding-right: 25px;
  flex-wrap: wrap;
  border-bottom: 1px solid #e8e8e8;
  position: relative; }
  .top-bar .menu.medium-horizontal {
    flex-wrap: wrap; }
  .top-bar ul {
    background: #fff; }
    .top-bar ul a {
      color: #2c4a6a;
      text-transform: uppercase;
      padding-left: 12px;
      padding-right: 12px;
      font-size: 14px; }
    .top-bar ul .is-dropdown-submenu {
      min-width: 400px;
      background: #D5E7F2;
      left: -160px !important;
      border: none;
      top: 38px;
      padding: 10px 25px;
      padding-bottom: 60px; }
      .top-bar ul .is-dropdown-submenu li {
        margin-bottom: 0px;
        list-style: none;
        display: block;
        width: 50%;
        float: left; }
        .top-bar ul .is-dropdown-submenu li a {
          text-transform: capitalize; }
  .top-bar .search-icon {
    padding-top: 0;
    padding-bottom: 0;
    background: none;
    width: 32px;
    cursor: pointer;
    margin-left: 20px; }
  .top-bar .block-search {
    position: absolute;
    bottom: 0px;
    right: 0px;
    visibility: hidden;
    z-index: 1;
    background: #e8e8e8;
    transition: all 0.5s; }
    .top-bar .block-search.show {
      bottom: -42px;
      visibility: visible; }

.top-bar-title {
  margin-right: 0px; }

.see-all a {
  color: #fff;
  background-color: #365e86;
  font-family: Bitter; }

.see-all.absolute {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto !important;
  padding: 10px 49px 10px 12px;
  background-color: #365e86;
  background-image: url("../images/right-arrow.png");
  background-repeat: no-repeat;
  background-position: 90% 50%;
  min-width: 134px;
  list-style: none; }
  .see-all.absolute a {
    color: #fff;
    padding: 0px; }

.site-logo {
  background: url("../images/logo.jpg");
  height: 40px;
  width: 322px;
  background-size: 100% 100%;
  position: relative; }
  .site-logo a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 0px; }

.search-icon {
  width: 60px;
  height: 32px;
  background: url("../images/search-icon.png");
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block; }

.footer-section-1 {
  width: 320px;
  height: 40px;
  background: url("../images/footer-logo.png");
  background-size: 320px 100%;
  background-repeat: no-repeat;
  background-position: center center; }

.footer-section-4 a {
  width: 43px;
  height: 43px;
  background-size: 43px 43px;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  font-size: 0px;
  vertical-align: middle; }
  .footer-section-4 a.instagram {
    background: url("../images/instagram.png"); }

.page-home .banner {
  position: relative; }
  .page-home .banner .banner-image img {
    width: 100%; }
.page-home .banner-content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; }
.page-home .banner-content-wrapper {
  text-align: center;
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  align-self: center; }
  .page-home .banner-content-wrapper .tagline {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 20px;
    position: static;
    top: 0;
    transform: none;
    -webkit-transform: none;
    font-size: 14px;
    font-weight: 500; }
.page-home .company-description {
  padding: 100px 0 70px;
  background: #f6f5f4; }
  .page-home .company-description p {
    font-family: Bitter;
    font-size: 18px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 75%;
    margin-bottom: 40px; }
  .page-home .company-description .blue-btn {
    padding: 8px 24px; }
.page-home .twin-blocks {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  overflow: hidden; }
  .page-home .twin-blocks .left-block,
  .page-home .twin-blocks .right-block {
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    max-width: 50%; }
  .page-home .twin-blocks .see-more {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 134px !important;
    padding: 8px 8px 9px 14px;
    background-color: #1e1914;
    background-image: url("../images/right-arrow.png");
    background-repeat: no-repeat;
    background-position: 90% 50%;
    list-style: none;
    background-size: 20px;
    margin-left: -134px; }
    .page-home .twin-blocks .see-more a {
      color: #fff;
      font-family: Bitter;
      padding: 0px;
      font-size: 14px; }
.page-home .journals {
  background-color: #365e86; }
  .page-home .journals .row {
    max-width: 100%;
    padding-bottom: 60px; }
  .page-home .journals .large-4 {
    margin-top: 120px;
    padding: 0 50px 0 120px; }
    .page-home .journals .large-4 h2 {
      margin-bottom: 25px; }
    .page-home .journals .large-4 p {
      font-size: 16px;
      font-family: Bitter;
      margin-bottom: 35px; }
    .page-home .journals .large-4 a.black-btn {
      font-size: 12px;
      padding: 6px 25px; }
  .page-home .journals .large-8 {
    padding-top: 68px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    overflow: hidden; }
    .page-home .journals .large-8 h5 {
      margin-bottom: 25px;
      color: white;
      font-size: 24px; }
    .page-home .journals .large-8 .carousel-item {
      background-color: #f1f0ef;
      padding: 30px;
      border-right: 1px solid #365e86; }
      .page-home .journals .large-8 .carousel-item .item-header p {
        font-size: 16px;
        color: #262a2f;
        margin-bottom: 15px; }
      .page-home .journals .large-8 .carousel-item hr {
        border-bottom: 1px solid #1e1914;
        margin-top: 15px;
        margin-bottom: 15px; }
      .page-home .journals .large-8 .carousel-item .item-content {
        font-family: Bitter;
        color: #262a2f;
        font-size: 16px; }
        .page-home .journals .large-8 .carousel-item .item-content p {
          overflow: hidden;
          -webkit-line-clamp: 5;
          line-height: 24px;
          max-height: 140px;
          font-size: 16px;
          text-overflow: ellipsis; }
      .page-home .journals .large-8 .carousel-item h3 {
        max-height: 68px;
        overflow: hidden;
        text-overflow: ellipsis; }
    .page-home .journals .large-8 #journals-prev {
      background-color: rgba(30, 25, 20, 0.58); }
      .page-home .journals .large-8 #journals-prev .fa.fa-chevron-left:before {
        content: "\f104"; }
    .page-home .journals .large-8 #journals-next {
      background-color: rgba(30, 25, 20, 0.58); }
      .page-home .journals .large-8 #journals-next .fa.fa-chevron-right:before {
        content: "\f105"; }
.page-home .news .row {
  max-width: 100%;
  padding-bottom: 15px; }
  .page-home .news .row .row {
    margin-left: 0px;
    margin-right: 0px; }
.page-home .news .large-4 {
  margin-top: 120px;
  padding: 0 50px 0 120px; }
  .page-home .news .large-4 h2 {
    margin-bottom: 25px; }
  .page-home .news .large-4 p {
    font-size: 16px;
    font-family: Bitter;
    margin-bottom: 35px;
    color: #1e1914; }
  .page-home .news .large-4 a.blue-btn {
    font-size: 12px;
    padding: 6px 25px; }
.page-home .news .news-block-right h3 {
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-height: 32px;
  max-height: 96px;
  font-size: 22px;
  margin-bottom: 0px; }
.page-home .featured-industries {
  background-image: url("../images/areas-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 60px 60px 130px; }
  .page-home .featured-industries ul {
    margin: 0; }
    .page-home .featured-industries ul li {
      margin-bottom: 30px;
      list-style: none; }
      .page-home .featured-industries ul li:last-child {
        margin-bottom: 0; }
      .page-home .featured-industries ul li [type=radio] {
        display: none; }
      .page-home .featured-industries ul li [type=radio]:checked ~ label {
        text-decoration: underline;
        color: #f6f5f4; }
      .page-home .featured-industries ul li .content {
        opacity: 0;
        padding: 90px 65px 100px 90px;
        position: absolute;
        width: 50%;
        left: 50%;
        top: 0;
        height: 100%;
        overflow-y: auto; }
        .page-home .featured-industries ul li .content p {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 19;
          line-height: 24px;
          max-height: 456px; }
        .page-home .featured-industries ul li .content h5 {
          margin-bottom: 20px; }
        .page-home .featured-industries ul li .content p {
          color: #252525; }
          .page-home .featured-industries ul li .content p:last-child {
            margin-bottom: 0px; }
      .page-home .featured-industries ul li label {
        font-size: 22px;
        color: #fff;
        font-family: Bitter; }
      .page-home .featured-industries ul li [type=radio]:checked ~ label ~ .content {
        z-index: 1;
        opacity: 1; }
.page-home .our-offices {
  padding: 90px 60px 80px 130px;
  position: relative;
  background: #f1f0ef; }
  .page-home .our-offices h2 {
    margin-bottom: 45px; }
  .page-home .our-offices ul {
    margin: 0px; }
    .page-home .our-offices ul li {
      margin-bottom: 40px;
      list-style: none; }
      .page-home .our-offices ul li:last-child {
        margin-bottom: 1px; }
      .page-home .our-offices ul li h5 {
        margin-bottom: 5px;
        font-size: 24px; }
        .page-home .our-offices ul li h5 a {
          color: #365e86; }
      .page-home .our-offices ul li p {
        margin-bottom: 0px;
        color: #252a2f; }
  .page-home .our-offices .see-all.absolute {
    right: 1px;
    bottom: 1px; }
.page-home .map {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .page-home .map img {
    min-width: 100%;
    min-height: 50vw; }

.slider-controls {
  position: absolute;
  top: 50%;
  background-color: rgba(30, 25, 20, 0.28);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  z-index: 1; }
  .slider-controls i {
    font-size: 40px;
    color: #fff;
    margin-top: 20px; }
  .slider-controls.prev {
    left: -40px; }
    .slider-controls.prev i {
      margin-left: 30px; }
  .slider-controls.next {
    right: -40px; }
    .slider-controls.next i {
      margin-left: -30px; }

.owl-controls {
  display: none !important; }

.scrollItem {
  position: relative; }

.news-blocks {
  overflow: hidden;
  margin-top: 80px; }

#arrowRight,
#arrowLeft {
  display: none; }

.news-block-left .news-block {
  box-shadow: 0px 0px 8px rgba(30, 25, 20, 0.2);
  -webkit-box-shadow: 0px 0px 8px rgba(30, 25, 20, 0.2);
  height: 478px;
  margin-bottom: 10px; }
.news-block-left .block-header {
  height: 200px;
  overflow: hidden;
  position: relative; }
  .news-block-left .block-header img {
    min-height: 200px;
    max-width: 480px;
    min-width: 100%; }
.news-block-left .block-footer {
  padding: 25px; }
  .news-block-left .block-footer h3 {
    margin-bottom: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 34px;
    max-height: 68px; }
  .news-block-left .block-footer p {
    margin-bottom: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-height: 22px;
    max-height: 88px; }

.news-block-right .news-block {
  height: 230px;
  margin-bottom: 18px; }
.news-block-right .block-header {
  height: 100px;
  overflow: hidden;
  position: relative; }
  .news-block-right .block-header img {
    min-height: 100px;
    min-width: 100%; }
.news-block-right .block-footer {
  background-color: #f1f0ef;
  padding: 20px 60px 20px 20px;
  height: 130px; }
  .news-block-right .block-footer h5 {
    color: #1a497c;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 26px;
    max-height: 78px; }
  .news-block-right .block-footer p {
    display: none; }

.grid-badge {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: #3c97d7;
  color: #fff;
  text-align: center;
  padding: 5px; }
  .grid-badge h5 {
    line-height: 18px;
    margin-bottom: 0;
    color: #fff; }
  .grid-badge span {
    font-family: Bitter;
    font-size: 10px;
    position: relative;
    top: -4px; }

.banner {
  position: relative;
  width: 100%; }
  .banner p {
    color: #ebebeb;
    font-size: 24px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-height: 28px;
    max-height: 56px;
    max-width: 480px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }
  .banner .banner-image img {
    min-height: 200px;
    min-width: 100%; }

.detail-page .content-wrapper {
  max-width: 630px;
  margin: 0 auto;
  padding: 60px 15px 100px 15px; }

.listing-page .content-wrapper {
  max-width: 1076px;
  margin: 0 auto;
  padding: 110px 15px 80px 15px; }
  .listing-page .content-wrapper h2 {
    text-align: center;
    margin-bottom: 100px;
    color: #252525; }

.has-rightsidebar {
  overflow: hidden; }
  .has-rightsidebar .news-date {
    font-size: 16px; }
    .has-rightsidebar .news-date a {
      color: #365e86;
      margin-right: 15px;
      font-style: italic;
      font-family: Bitter; }
  .has-rightsidebar .content-wrapper {
    max-width: 100%;
    margin: 0;
    width: 75%;
    padding-left: 60px;
    float: left; }
  .has-rightsidebar .right-sidebar {
    float: left;
    width: 20%;
    padding: 25px;
    margin-top: 106px;
    border: 1px solid #d5d5d5;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-family: Bitter; }

.has-leftsidebar .left-sidebar {
  float: left;
  width: 20%;
  padding: 25px;
  margin-top: 106px;
  border: 1px solid #d5d5d5;
  margin-left: 2.5%;
  margin-right: 2.5%;
  font-family: Bitter; }
.has-leftsidebar .content-wrapper {
  max-width: 900px;
  margin: 0;
  width: 75%;
  padding-left: 50px;
  float: left;
  padding-right: 10%; }

.has-bothsidebars .left-sidebar {
  float: left;
  width: 20%;
  padding: 25px;
  margin-top: 106px;
  border: 1px solid #d5d5d5;
  margin-left: 2.5%;
  margin-right: 2.5%;
  font-family: Bitter; }
.has-bothsidebars .right-sidebar {
  float: left;
  width: 20%;
  padding: 25px;
  margin-top: 106px;
  border: 1px solid #d5d5d5;
  margin-left: 2.5%;
  margin-right: 2.5%;
  font-family: Bitter; }
.has-bothsidebars .content-wrapper {
  margin: 0;
  width: 50%;
  padding-left: 50px;
  padding-right: 50px;
  float: left;
  max-width: 2000px; }

footer {
  padding: 120px 0 60px;
  background: #252525; }
  footer .row {
    max-width: 1100px; }
    footer .row ul {
      margin-bottom: 0px;
      display: block; }
      footer .row ul li {
        margin-bottom: 12px;
        list-style: none;
        margin-left: 0px; }
        footer .row ul li a {
          color: #fff;
          font-size: 16px; }
  footer .footer-section-2 {
    display: none; }
    footer .footer-section-2 a {
      color: #fff;
      font-size: 16px;
      text-transform: uppercase; }
  footer .copyright {
    color: #e4e3e2;
    margin-top: 100px;
    margin-bottom: 0px; }

.detail-page .content-wrapper h2 {
  margin-bottom: 40px; }
.detail-page .content-wrapper p {
  margin-bottom: 20px; }
.detail-page .content-wrapper .image-wrap img {
  min-width: 100%;
  margin: 30px 0px; }

.bottom-content-slider {
  padding: 40px 0;
  background-color: #f6f5f4;
  max-width: 100%;
  overflow: hidden;
  width: 100%; }
  .bottom-content-slider .slider-controls {
    margin-top: -40px;
    background-color: rgba(30, 25, 20, 0.12); }
  .bottom-content-slider .slider-item .image-left {
    float: left;
    width: 100px;
    height: 100px; }
    .bottom-content-slider .slider-item .image-left img {
      width: 100%;
      height: 100%;
      margin-right: 15px; }
  .bottom-content-slider .slider-item .content {
    padding: 15px;
    overflow: hidden; }
    .bottom-content-slider .slider-item .content h5 {
      color: #365e86;
      font-size: 18px;
      overflow: hidden;
      -webkit-line-clamp: 3;
      line-height: 23px;
      max-height: 69px;
      margin-bottom: 0px; }
  .bottom-content-slider .owl-item {
    background-color: #fff; }

.page-industries .industries-list {
  margin: 0px; }
  .page-industries .industries-list li {
    margin-bottom: 40px;
    margin-left: 0px;
    list-style: none; }
    .page-industries .industries-list li:last-child {
      margin-bottom: 0px; }
    .page-industries .industries-list li .news-date {
      margin-bottom: 10px;
      margin-top: -15px; }
  .page-industries .industries-list .thumbnail {
    border: none;
    margin-bottom: 0;
    box-shadow: none; }
    .page-industries .industries-list .thumbnail img {
      width: 100%; }
  .page-industries .industries-list .content {
    word-break: break-word;
    padding-left: 35px;
    padding-top: 10px; }
    .page-industries .industries-list .content h3 {
      font-size: 36px;
      margin-bottom: 25px;
      line-height: 40px; }
      .page-industries .industries-list .content h3 a {
        color: #365e86; }
    .page-industries .industries-list .content p {
      color: #4b4d53;
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-height: 24px;
      max-height: 72px;
      margin-bottom: 25px; }
    .page-industries .industries-list .content .view-more a {
      display: inline-block;
      width: 29px;
      height: 22px;
      background-image: url("../images/arrow-thin-right.png"); }
.page-industries .detail-page .content {
  line-height: 24px; }

.page-news {
  background-color: #f1f0ef; }
  .page-news .content-wrapper {
    padding-top: 50px;
    padding-bottom: 130px;
    max-width: 100%;
    padding-left: 100px;
    padding-right: 100px; }
    .page-news .content-wrapper h2 {
      margin-bottom: 0px; }
    .page-news .content-wrapper:first-child {
      padding-top: 55px;
      padding-bottom: 35px; }
    .page-news .content-wrapper .tabs-content {
      background: transparent;
      border: none;
      max-width: 1106px;
      margin: 0 auto; }
  .page-news .columns .grid-section {
    background: #fff;
    overflow: hidden;
    min-height: 100%; }
  .page-news .columns .content {
    padding: 25px; }
    .page-news .columns .content p {
      display: none; }
  .page-news .columns .img-section {
    overflow: hidden;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .page-news .columns .img-section img {
      width: 100%; }
  .page-news .columns h3 {
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 102px; }
  .page-news .large {
    margin-bottom: 30px; }
    .page-news .large .grid-section.row {
      margin-left: 0px;
      margin-right: 0px; }
    .page-news .large .grid-section .content p {
      display: block;
      margin-bottom: 0px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 9;
      line-height: 22px;
      max-height: 198px; }
    .page-news .large .grid-section .img-section img {
      min-height: 100%;
      min-width: 100%;
      max-height: 500px;
      width: auto;
      max-width: 500px; }
    .page-news .large .grid-section h3 {
      margin-bottom: 10px; }
    .page-news .large .grid-section img {
      min-height: 200px; }
  .page-news .small {
    margin-bottom: 30px; }
    .page-news .small .img-section {
      max-height: 200px;
      overflow: hidden; }
      .page-news .small .img-section img {
        min-width: 360px;
        min-height: 360px; }

.grid-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -15px;
  margin-right: -15px; }
  .grid-wrapper .tabs-panel {
    padding: 0px; }
  .grid-wrapper.grid-3 .grid {
    width: 33.3%;
    max-width: 33.3%; }
  .grid-wrapper.grid-3 .grid.col-2 {
    width: 66.6%;
    max-width: 66.6%; }
  .grid-wrapper.grid-4 .grid {
    width: 25%;
    max-width: 25%; }
  .grid-wrapper.grid-4 .grid.col-2 {
    width: 50%;
    max-width: 50%; }
  .grid-wrapper .grid {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 45px; }

.news-filters {
  margin: 35px -100px 50px -100px;
  overflow-x: auto; }
  .news-filters > ul {
    margin: 0px;
    display: table;
    min-width: 1200px;
    width: 100%;
    background-color: #fff;
    padding: 0px 25px; }
    .news-filters > ul .views-submit-button {
      display: table-cell;
      vertical-align: middle;
      padding: 0 5px; }
    .news-filters > ul li {
      display: table-cell;
      vertical-align: middle;
      padding: 0 5px;
      color: #4b4d53;
      font-size: 16px; }
      .news-filters > ul li label {
        font-weight: 500;
        white-space: nowrap;
        padding-top: 8px;
        color: #4b4d53; }
      .news-filters > ul li select {
        margin-bottom: 0px;
        max-width: 70px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: none;
        border: none;
        padding-right: 5px;
        color: #4b4d53;
        outline: none; }
    .news-filters > ul .select-box {
      float: none;
      display: flex;
      flex-direction: row;
      padding-left: 23px;
      background-image: url("../images/down-caret.png");
      background-repeat: no-repeat;
      background-position: 0px center;
      padding-top: 16px;
      padding-bottom: 16px; }
    .news-filters > ul .tabs {
      border: none;
      display: table;
      width: 100%; }
      .news-filters > ul .tabs li {
        padding: 0px;
        float: none;
        text-align: center; }
      .news-filters > ul .tabs a {
        font-family: Roboto;
        padding: 30px 10px;
        color: #4b4d53;
        font-size: 16px; }
      .news-filters > ul .tabs .tabs-title > a[aria-selected='true'] {
        background: #d5d5d5; }

.page-news-detail .content-wrapper ul,
.page-news-detail .content-wrapper ol {
  margin-bottom: 40px;
  padding-left: 15px; }
  .page-news-detail .content-wrapper ul li,
  .page-news-detail .content-wrapper ol li {
    color: #365e86;
    font-size: 16px;
    margin-bottom: 15px;
    list-style: initial; }
.page-news-detail .right-sidebar {
  max-width: 230px; }
  .page-news-detail .right-sidebar > div {
    margin-bottom: 15px; }
  .page-news-detail .right-sidebar a,
  .page-news-detail .right-sidebar a:hover {
    color: #258faf; }

.page-practise-areas .listing-page .content-wrapper {
  padding-bottom: 50px; }
  .page-practise-areas .listing-page .content-wrapper h2 {
    margin-bottom: 35px; }
.page-practise-areas .grid {
  margin-bottom: 25px; }
  .page-practise-areas .grid .img-section {
    max-height: 150px;
    overflow: hidden;
    position: relative; }
    .page-practise-areas .grid .img-section img {
      width: 100%;
      min-width: 100%;
      min-height: 150px; }
    .page-practise-areas .grid .img-section:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #365e86;
      top: 0;
      left: 0;
      opacity: 0.6; }
  .page-practise-areas .grid h3 {
    margin-top: 25px; }
  .page-practise-areas .grid p {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-height: 21px;
    max-height: 84px;
    margin-bottom: 0px; }
  .page-practise-areas .grid .content {
    padding: 0 15px 25px 15px; }
  .page-practise-areas .grid .grid-section {
    box-shadow: 0px 2px 8px 0px rgba(30, 25, 20, 0.2);
    -webkit-box-shadow: 0px 2px 8px 0px rgba(30, 25, 20, 0.2);
    height: 100%;
    position: relative; }
  .page-practise-areas .grid .view-more {
    position: absolute;
    padding: 0 15px;
    right: 0;
    bottom: 15px;
    background: #fff; }
    .page-practise-areas .grid .view-more img {
      width: 20px; }

.top-select-box select, .top-select-box .form-item select {
  display: inline-block;
  width: 150px;
  border: none;
  font-family: Bitter;
  color: #b8b6b3;
  font-size: 12px;
  background-image: none;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0px;
  background-color: #f1f2f7;
  outline: none;
  padding-top: 0;
  padding-bottom: 0;
  height: 30px;
  background-image: url("../images/select-down.png"); }
.top-select-box .select-box, .top-select-box .form-item .select-box {
  margin-bottom: 50px;
  display: inline-block;
  background: #f1f2f7;
  padding-left: 10px;
  position: relative;
  height: 30px; }
  .top-select-box .select-box label, .top-select-box .form-item .select-box label {
    float: left;
    font-family: Bitter;
    color: #b8b6b3;
    font-size: 12px;
    padding-top: 5px; }
  .top-select-box .select-box i, .top-select-box .form-item .select-box i {
    position: absolute;
    top: 7px;
    right: 11px;
    color: #b8b6b3; }

.page-practise-areas-detail .detail-page .content-wrapper {
  padding-top: 70px;
  padding-bottom: 65px; }
  .page-practise-areas-detail .detail-page .content-wrapper .short-description {
    color: #4b4d53;
    font-size: 18px;
    margin-bottom: 85px; }
  .page-practise-areas-detail .detail-page .content-wrapper p {
    margin-bottom: 40px;
    color: #4b4d53;
    line-height: 1.8; }
    .page-practise-areas-detail .detail-page .content-wrapper p:last-child {
      margin-bottom: 0px; }
  .page-practise-areas-detail .detail-page .content-wrapper h5 {
    font-size: 18px;
    margin-bottom: 20px; }
  .page-practise-areas-detail .detail-page .content-wrapper ul {
    margin-bottom: 40px;
    padding-left: 15px; }
    .page-practise-areas-detail .detail-page .content-wrapper ul li {
      color: #365e86;
      font-size: 16px;
      margin-bottom: 15px;
      list-style: initial; }
.page-practise-areas-detail .bottom-content-slider {
  padding: 50px 0; }
  .page-practise-areas-detail .bottom-content-slider .heading h5 {
    font-family: Bitter;
    color: #b8b6b3;
    font-size: 18px;
    margin-bottom: 45px;
    font-weight: 400; }
  .page-practise-areas-detail .bottom-content-slider .content h5 {
    color: #1a497c;
    font-size: 16px; }
  .page-practise-areas-detail .bottom-content-slider .content p {
    font-family: Bitter;
    color: #4b4d53;
    font-size: 12px;
    margin-bottom: 5px; }
  .page-practise-areas-detail .bottom-content-slider .img-section {
    overflow: hidden; }
    .page-practise-areas-detail .bottom-content-slider .img-section img {
      min-height: 130px;
      min-width: 100%; }
  .page-practise-areas-detail .bottom-content-slider .owl-item {
    box-shadow: 0px 2px 4px 0px rgba(30, 25, 20, 0.2);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(30, 25, 20, 0.2); }

.page-attorneys .content-wrapper {
  padding-bottom: 166px; }
.page-attorneys .listing-page .content-wrapper h2 {
  margin-bottom: 40px; }
.page-attorneys .top-select-box .select-box {
  margin-right: 25px;
  margin-bottom: 100px; }
.page-attorneys .grid-section {
  box-shadow: 0px 2px 4px 0px rgba(30, 25, 20, 0.2);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(30, 25, 20, 0.2);
  height: 100%; }
.page-attorneys .grid {
  margin-bottom: 65px; }
  .page-attorneys .grid .content {
    padding: 20px 20px 45px 20px; }
    .page-attorneys .grid .content h5 {
      margin-bottom: 10px; }
    .page-attorneys .grid .content p {
      margin-bottom: 0px;
      font-family: Bitter;
      color: #4b4d53; }
  .page-attorneys .grid .img-section {
    overflow: hidden; }
    .page-attorneys .grid .img-section img {
      min-width: 100%;
      min-height: 150px; }
.page-attorneys .view-more {
  margin-top: 15px; }
  .page-attorneys .view-more .blue-btn {
    font-size: 12px;
    height: 30px;
    width: 100px;
    padding: 7px 0px; }
.page-attorneys .views-exposed-form .views-submit-button .form-submit,
.page-attorneys .views-exposed-form .views-reset-button .form-submit {
  margin-top: 0px; }

.page-attorneys-open .right-sidebar {
  margin-top: 65px; }
.page-attorneys-open .content-wrapper {
  padding-top: 65px;
  padding-bottom: 190px;
  max-width: 1106px;
  color: #4b4d53; }
  .page-attorneys-open .content-wrapper h2 {
    margin-top: 5px;
    margin-bottom: 30px;
    text-align: left;
    color: #365e86; }
  .page-attorneys-open .content-wrapper .content p {
    color: #4b4d53;
    font-size: 18px;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 27px;
    max-height: 81px; }
  .page-attorneys-open .content-wrapper .img-section {
    overflow: hidden; }
    .page-attorneys-open .content-wrapper .img-section img {
      min-height: 230px;
      min-width: 230px; }
  .page-attorneys-open .content-wrapper .right-sidebar {
    padding: 20px 15px;
    border: 1px solid #b8b6b3;
    font-family: Bitter;
    color: #4b4d53; }
    .page-attorneys-open .content-wrapper .right-sidebar a {
      color: #3c97d7; }
    .page-attorneys-open .content-wrapper .right-sidebar p {
      padding-left: 30px;
      background-position: 0 8px;
      background-repeat: no-repeat;
      margin-bottom: 0px;
      padding-bottom: 5px;
      padding-top: 5px; }
    .page-attorneys-open .content-wrapper .right-sidebar .email {
      background-image: url("../images/mail.png"); }
    .page-attorneys-open .content-wrapper .right-sidebar .phone {
      background-image: url("../images/phone.png");
      background-size: 19px; }
    .page-attorneys-open .content-wrapper .right-sidebar .education {
      background-image: url("../images/graduation.png");
      background-position: 0 8px; }
    .page-attorneys-open .content-wrapper .right-sidebar .document {
      background-image: url("../images/document.png");
      background-size: 17px;
      background-position: 5px 4px; }
    .page-attorneys-open .content-wrapper .right-sidebar .location {
      background-image: url("../images/location.png");
      background-size: 17px;
      background-position: 3px 5px; }
  .page-attorneys-open .content-wrapper .top-content {
    padding-bottom: 25px;
    border-bottom: 1px solid #f1f2f7;
    margin-left: -15px;
    margin-right: -15px;
    max-width: calc( 100% + 30px); }
  .page-attorneys-open .content-wrapper .tabs-wrap {
    padding-top: 35px;
    padding-bottom: 35px;
    margin-left: -15px;
    margin-right: -15px;
    max-width: calc( 100% + 30px); }
    .page-attorneys-open .content-wrapper .tabs-wrap .tabs {
      border: none; }
      .page-attorneys-open .content-wrapper .tabs-wrap .tabs li {
        margin-bottom: 12px; }
        .page-attorneys-open .content-wrapper .tabs-wrap .tabs li a {
          font-family: Bitter;
          color: #6c6b6b;
          font-size: 14px;
          display: block;
          padding: 17px 25px;
          background-color: #d5d5d5;
          position: relative; }
        .page-attorneys-open .content-wrapper .tabs-wrap .tabs li.is-active a {
          color: #fff;
          background-color: #243c56; }
          .page-attorneys-open .content-wrapper .tabs-wrap .tabs li.is-active a:after {
            content: '';
            position: absolute;
            top: 0;
            right: -23px;
            width: 0;
            height: 0;
            border-top: 24px solid transparent;
            border-bottom: 24px solid transparent;
            border-left: 23px solid #243c56; }
    .page-attorneys-open .content-wrapper .tabs-wrap .tabs-content {
      border: none; }
      .page-attorneys-open .content-wrapper .tabs-wrap .tabs-content .tabs-panel {
        padding-top: 0px;
        padding-bottom: 0px; }
      .page-attorneys-open .content-wrapper .tabs-wrap .tabs-content p {
        color: #4b4d53;
        margin-bottom: 30px; }
        .page-attorneys-open .content-wrapper .tabs-wrap .tabs-content p:last-child {
          margin-bottom: 0px; }

.page-offices .top-select-box .select-box {
  margin-bottom: 25px; }
.page-offices .content-wrapper {
  max-width: 1240px;
  padding-top: 75px;
  padding-bottom: 140px;
  padding-left: 15px;
  padding-right: 15px;
  /* Track */
  /* Handle */ }
  .page-offices .content-wrapper .main-content {
    height: 568px;
    position: relative; }
    .page-offices .content-wrapper .main-content .view-content {
      width: 100%; }
    .page-offices .content-wrapper .main-content #quicktabs-view__offices__panel_pane_1 {
      margin-left: auto;
      margin-right: auto;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      width: 100%; }
    .page-offices .content-wrapper .main-content ul.quicktabs-tabs {
      -webkit-flex: 0 0 33.33333%;
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
      overflow-y: auto;
      overflow-x: hidden;
      direction: rtl;
      box-shadow: inset 0px -7px 14px -7px rgba(30, 25, 20, 0.2);
      -webkit-box-shadow: inset 0px -7px 14px -7px rgba(30, 25, 20, 0.2);
      max-height: 568px;
      margin: 0px; }
      .page-offices .content-wrapper .main-content ul.quicktabs-tabs li {
        padding: 0;
        display: block; }
        .page-offices .content-wrapper .main-content ul.quicktabs-tabs li a {
          font-family: Bitter;
          color: #6c6b6b;
          font-size: 22px;
          display: block;
          padding: 15px 25px;
          background-color: #d5d5d5;
          border-bottom: 2px solid #fff;
          position: relative;
          width: 90%;
          float: left;
          text-align: left; }
        .page-offices .content-wrapper .main-content ul.quicktabs-tabs li.active a {
          color: #fff;
          background-color: #243c56; }
          .page-offices .content-wrapper .main-content ul.quicktabs-tabs li.active a:after {
            content: '';
            position: absolute;
            top: 0;
            right: -23px;
            width: 0;
            height: 0;
            border-top: 34px solid transparent;
            border-bottom: 31px solid transparent;
            border-left: 23px solid #243c56; }
    .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 {
      flex-direction: column;
      height: 568px;
      flex: 1;
      box-shadow: 2px 1px 4px 0px rgba(30, 25, 20, 0.2);
      -webkit-box-shadow: 2px 1px 4px 0px rgba(30, 25, 20, 0.2); }
      .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 .right-bottom {
        height: 340px;
        max-height: 340px;
        overflow: hidden; }
      .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 .right-top {
        height: 228px;
        overflow: hidden; }
        .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 .right-top .row {
          height: 228px; }
      .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 h4 {
        color: #1a497c;
        text-transform: uppercase;
        margin-bottom: 30px; }
      .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 .img-section img {
        min-width: 100%;
        min-height: 228px; }
      .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 .content {
        padding: 35px 20px; }
        .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 .content p {
          margin-bottom: 10px;
          font-size: 18px; }
        .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 .content .phone a {
          color: #566e87;
          font-size: 24px;
          font-weight: 500; }
      .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 .map-section img {
        min-width: 100%;
        min-height: 340px; }
  .page-offices .content-wrapper ::-webkit-scrollbar {
    width: 3px;
    position: absolute;
    top: 0;
    left: 0; }
  .page-offices .content-wrapper ::-webkit-scrollbar-track {
    background-color: rgba(191, 191, 191, 0.53); }
  .page-offices .content-wrapper ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #4e6b91;
    width: 7px;
    height: 19px; }
  .page-offices .content-wrapper ::-webkit-scrollbar-thumb:window-inactive {
    background: #4e6b91; }

.page-journals .content-wrapper {
  max-width: 100%;
  padding-top: 100px;
  padding-bottom: 105px;
  padding-left: 100px;
  padding-right: 100px; }
  .page-journals .content-wrapper h2 {
    margin-bottom: 0px; }
  .page-journals .content-wrapper:first-child {
    padding-top: 55px;
    padding-bottom: 30px; }
  .page-journals .content-wrapper .tabs-content {
    color: #262a2f;
    border: none;
    max-width: 1106px;
    margin: 0 auto; }
    .page-journals .content-wrapper .tabs-content .tabs-panel {
      padding: 0px;
      overflow: hidden; }
  .page-journals .content-wrapper .row {
    max-width: 100%; }
  .page-journals .content-wrapper .label-and-date label {
    color: #262a2f;
    font-size: 16px;
    display: inline-block;
    font-weight: 700;
    margin-right: 10px; }
  .page-journals .content-wrapper .label-and-date span {
    font-size: 16px; }
  .page-journals .content-wrapper .load-more .blue-btn {
    height: 30px;
    font-size: 12px;
    padding: 6px 10px; }
  .page-journals .content-wrapper .small-row {
    width: 50%;
    float: left;
    padding: 0 15px; }
  .page-journals .content-wrapper .large {
    padding-bottom: 40px;
    border-bottom: 1px solid #262a2f;
    margin-bottom: 50px; }
    .page-journals .content-wrapper .large h3 {
      margin: 15px 0;
      color: #1a497c;
      font-size: 50px;
      font-weight: 400;
      line-height: 50px; }
    .page-journals .content-wrapper .large .profile {
      width: 33.3%;
      float: left; }
      .page-journals .content-wrapper .large .profile .img-section {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        overflow: hidden;
        float: left;
        margin-right: 15px; }
        .page-journals .content-wrapper .large .profile .img-section img {
          min-width: 65px;
          min-height: 65px; }
      .page-journals .content-wrapper .large .profile .details {
        overflow: hidden; }
      .page-journals .content-wrapper .large .profile h5 {
        color: #1a497c;
        font-size: 24px;
        font-style: italic;
        margin: 5px 0;
        line-height: 24px; }
      .page-journals .content-wrapper .large .profile span {
        font-size: 16px;
        display: block; }
      .page-journals .content-wrapper .large .profile .view-more .blue-btn {
        height: 40px;
        font-size: 12px;
        padding: 11px 10px;
        position: absolute;
        left: 0px;
        bottom: 0px; }
    .page-journals .content-wrapper .large .content {
      width: 66.6%;
      float: left;
      text-align: left; }
      .page-journals .content-wrapper .large .content p {
        font-family: Bitter;
        font-size: 18px;
        line-height: 32px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
        max-height: 256px;
        margin-bottom: 0px; }
      .page-journals .content-wrapper .large .content .view-more {
        display: none; }
  .page-journals .content-wrapper .small {
    padding-right: 25%;
    margin-bottom: 110px; }
    .page-journals .content-wrapper .small h3 {
      margin: 10px 0;
      color: #1a497c;
      font-size: 30px;
      font-weight: 400;
      line-height: 32px; }
    .page-journals .content-wrapper .small .profile {
      padding-bottom: 19px;
      margin-bottom: 17px;
      border-bottom: 1px solid #1e1914; }
      .page-journals .content-wrapper .small .profile .img-section {
        width: 33px;
        height: 33px;
        border-radius: 50%;
        overflow: hidden;
        float: left;
        margin-right: 8px; }
        .page-journals .content-wrapper .small .profile .img-section img {
          min-width: 33px;
          min-height: 33px; }
      .page-journals .content-wrapper .small .profile .details {
        overflow: hidden; }
      .page-journals .content-wrapper .small .profile h5 {
        color: #1a497c;
        font-size: 16px;
        font-style: italic;
        margin: 0px;
        line-height: 20px; }
      .page-journals .content-wrapper .small .profile span {
        display: block; }
      .page-journals .content-wrapper .small .profile .view-more {
        display: none; }
    .page-journals .content-wrapper .small .content p {
      font-family: Bitter;
      font-size: 16px;
      line-height: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      max-height: 120px;
      margin-bottom: 30px; }
    .page-journals .content-wrapper .small .content .view-more .blue-btn {
      height: 40px;
      font-size: 12px;
      padding: 11px 10px; }
.page-journals .news-filters > ul {
  background-color: #f1f0ef;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center; }
  .page-journals .news-filters > ul li {
    display: block; }
    .page-journals .news-filters > ul li select {
      max-width: 100px; }
  .page-journals .news-filters > ul .tabs {
    background-color: #f1f0ef; }

.page-journals-open .detail-page .content-wrapper {
  max-width: 1076px;
  padding-top: 75px;
  padding-bottom: 150px;
  padding-left: 15px;
  padding-right: 15px; }
.page-journals-open .left-sidebar {
  color: #4b4d53;
  width: 220px;
  margin-right: 40px;
  float: left; }
  .page-journals-open .left-sidebar .img-section {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px; }
    .page-journals-open .left-sidebar .img-section img {
      min-width: 100px;
      min-height: 100px; }
  .page-journals-open .left-sidebar a {
    font-family: Bitter;
    color: #365e86;
    display: block; }
  .page-journals-open .left-sidebar .date {
    font-weight: 700; }
  .page-journals-open .left-sidebar label {
    color: #4b4d53; }
  .page-journals-open .left-sidebar .name span {
    font-family: Bitter;
    color: #365e86;
    font-size: 20px;
    font-style: italic; }
.page-journals-open .content-right {
  overflow: hidden; }
  .page-journals-open .content-right .news-date {
    font-size: 16px; }
  .page-journals-open .content-right h2 {
    margin-bottom: 55px; }
  .page-journals-open .content-right p {
    font-family: Bitter;
    color: #4b4d53;
    font-size: 16px;
    margin-bottom: 30px; }
  .page-journals-open .content-right h5 {
    font-size: 18px;
    margin-bottom: 30px; }
  .page-journals-open .content-right ul {
    padding-left: 15px; }
  .page-journals-open .content-right li {
    color: #365e86;
    line-height: 1.6;
    list-style: initial;
    margin-bottom: 25px; }
    .page-journals-open .content-right li strong {
      font-weight: 700; }
  .page-journals-open .content-right .share {
    margin-top: 115px;
    margin-bottom: 35px; }
    .page-journals-open .content-right .share .black-btn {
      background-color: #f68e56; }
  .page-journals-open .content-right .references {
    color: #4b4d53; }
    .page-journals-open .content-right .references p {
      font-family: Bitter;
      color: #4b4d53; }
      .page-journals-open .content-right .references p a {
        color: #365e86; }
      .page-journals-open .content-right .references p:last-child {
        margin-bottom: 0px; }

.page-wins .content-wrapper {
  padding-top: 55px;
  max-width: 600px;
  padding-bottom: 120px; }
  .page-wins .content-wrapper h2 {
    margin-bottom: 40px; }
  .page-wins .content-wrapper .select-box {
    margin-right: 25px;
    margin-bottom: 60px; }
  .page-wins .content-wrapper h3 {
    color: #252524;
    font-size: 30px;
    margin-bottom: 30px; }
  .page-wins .content-wrapper ul {
    margin: 0px; }
    .page-wins .content-wrapper ul li {
      padding-left: 60px;
      position: relative;
      margin-bottom: 25px; }
      .page-wins .content-wrapper ul li label {
        color: #4b4d53;
        line-height: 12px;
        font-size: 12px; }
      .page-wins .content-wrapper ul li h5 {
        font-size: 24px; }
        .page-wins .content-wrapper ul li h5 a {
          color: #1a497c; }
  .page-wins .content-wrapper .view-more {
    margin-top: 65px; }

.page-wins-timeline .content-wrapper {
  padding-top: 55px;
  padding-bottom: 120px;
  padding-left: 15px;
  padding-right: 15px; }
  .page-wins-timeline .content-wrapper h2 {
    margin-bottom: 40px; }
  .page-wins-timeline .content-wrapper .select-box {
    margin-right: 25px;
    margin-bottom: 60px; }
  .page-wins-timeline .content-wrapper h3 {
    color: #252524;
    font-size: 30px;
    margin-bottom: 30px; }
  .page-wins-timeline .content-wrapper ul {
    margin: 0px; }
    .page-wins-timeline .content-wrapper ul li {
      padding-left: 60px;
      position: relative;
      padding-bottom: 25px; }
      .page-wins-timeline .content-wrapper ul li:nth-child(odd) {
        width: 50%;
        padding-left: 0;
        text-align: right;
        padding-right: 40px;
        border-right: 1px solid #1a497c; }
        .page-wins-timeline .content-wrapper ul li:nth-child(odd) .grid-badge {
          right: -20px;
          left: auto; }
      .page-wins-timeline .content-wrapper ul li:nth-child(even) {
        width: 50%;
        margin-left: 50%;
        padding-left: 40px;
        border-left: 1px solid #1a497c; }
        .page-wins-timeline .content-wrapper ul li:nth-child(even) .grid-badge {
          left: -20px; }
      .page-wins-timeline .content-wrapper ul li:last-child {
        border: none; }
      .page-wins-timeline .content-wrapper ul li label {
        color: #4b4d53;
        line-height: 12px;
        font-size: 12px; }
      .page-wins-timeline .content-wrapper ul li h5 {
        font-size: 24px; }
        .page-wins-timeline .content-wrapper ul li h5 a {
          color: #1a497c; }
  .page-wins-timeline .content-wrapper .view-more {
    margin-top: 135px; }

.black-btn.small {
  font-size: 12px;
  padding: 6px 20px; }

.page-wins-open .right-sidebar {
  max-width: 230px; }
  .page-wins-open .right-sidebar > div {
    margin-bottom: 15px; }
.page-wins-open .bottom-content-slider {
  padding: 30px 0 55px 0; }
  .page-wins-open .bottom-content-slider h5 {
    color: rgba(184, 182, 179, 0.4);
    font-size: 18px;
    margin-bottom: 30px;
    padding: 0 10%; }

.page-about-us {
  color: #4b4d53; }
  .page-about-us .detail-page .content-wrapper {
    padding-top: 95px;
    padding-bottom: 75px;
    max-width: 100%;
    padding-left: 100px;
    padding-right: 100px; }
    .page-about-us .detail-page .content-wrapper h2 {
      margin-bottom: 75px;
      text-align: center;
      color: #252525; }
    .page-about-us .detail-page .content-wrapper .timeline-wrapper {
      overflow: hidden; }
    .page-about-us .detail-page .content-wrapper .left {
      padding-right: 40px;
      width: 50%;
      float: left; }
      .page-about-us .detail-page .content-wrapper .left h5 {
        color: #252524;
        font-size: 24px;
        padding-left: 47px;
        font-style: italic;
        margin-bottom: 45px; }
      .page-about-us .detail-page .content-wrapper .left ul {
        margin: 0px; }
        .page-about-us .detail-page .content-wrapper .left ul li {
          margin-bottom: 0px;
          list-style: none; }
          .page-about-us .detail-page .content-wrapper .left ul li:last-child .content {
            border-left: none;
            padding-bottom: 0px; }
      .page-about-us .detail-page .content-wrapper .left .year {
        float: left;
        color: #252524;
        font-size: 18px;
        font-weight: 700;
        padding-right: 20px;
        position: relative; }
      .page-about-us .detail-page .content-wrapper .left .content {
        overflow: hidden;
        border-left: 2px solid #003386;
        padding-left: 20px;
        padding-bottom: 60px; }
        .page-about-us .detail-page .content-wrapper .left .content p {
          margin-bottom: 20px;
          font-family: Bitter;
          color: #252524;
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          line-height: 24px;
          max-height: 72px; }
      .page-about-us .detail-page .content-wrapper .left .round {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: #003386;
        display: inline-block;
        position: absolute;
        right: -15px;
        top: 0; }
    .page-about-us .detail-page .content-wrapper .left + .right {
      padding-left: 50px;
      width: 50%;
      float: left; }
    .page-about-us .detail-page .content-wrapper .right p {
      margin-bottom: 35px; }
    .page-about-us .detail-page .content-wrapper .right .image-section {
      margin-bottom: 6px;
      margin-left: -3px;
      margin-right: -3px; }
      .page-about-us .detail-page .content-wrapper .right .image-section .left-image {
        padding-right: 3px;
        padding-left: 3px; }
      .page-about-us .detail-page .content-wrapper .right .image-section .right-image {
        padding-left: 3px;
        padding-right: 3px; }
  .page-about-us .image-section {
    margin: 80px -100px 90px -100px; }
    .page-about-us .image-section img {
      min-width: 100%; }

.page-careers .listing-page .content-wrapper {
  max-width: 600px;
  color: #4b4d53;
  padding-top: 110px;
  padding-bottom: 110px; }
  .page-careers .listing-page .content-wrapper h2 {
    color: #252524;
    margin-bottom: 50px;
    text-align: center; }
  .page-careers .listing-page .content-wrapper a {
    color: #3c97d7; }
  .page-careers .listing-page .content-wrapper ul {
    margin-left: 0px;
    margin-top: 70px; }
    .page-careers .listing-page .content-wrapper ul li {
      font-family: Bitter;
      border-bottom: 1px solid rgba(75, 77, 83, 0.2);
      padding: 15px 0 10px 0; }
      .page-careers .listing-page .content-wrapper ul li .row {
        margin-left: -15px;
        margin-right: -15px; }
      .page-careers .listing-page .content-wrapper ul li label {
        font-family: Bitter;
        color: #4b4d53;
        line-height: 14px; }
      .page-careers .listing-page .content-wrapper ul li h5 {
        font-size: 24px;
        margin-bottom: 0px; }
        .page-careers .listing-page .content-wrapper ul li h5 a {
          color: #365e86; }
      .page-careers .listing-page .content-wrapper ul li i {
        color: #365e86; }
  .page-careers .listing-page .content-wrapper form {
    background-color: #f1f0ef;
    padding: 40px 60px;
    margin-top: 20px; }
    .page-careers .listing-page .content-wrapper form h4 {
      margin: 0px 0px 30px 0px;
      color: #262a2f;
      font-size: 24px;
      text-align: center; }
    .page-careers .listing-page .content-wrapper form .row {
      margin-left: 0px;
      margin-right: 0px; }
    .page-careers .listing-page .content-wrapper form .form-checkboxes {
      height: 42px; }
    .page-careers .listing-page .content-wrapper form .submit input {
      font-size: 12px;
      height: 40px;
      color: #fff;
      padding: 11px 43px;
      background: #365e86; }
    .page-careers .listing-page .content-wrapper form div.messages.messages-inline.error {
      display: block;
      background-image: none !important;
      margin: -15px 15px 20px 15px !important;
      background-color: transparent;
      padding-left: 10px;
      color: #da1515;
      font-size: 13px; }
    .page-careers .listing-page .content-wrapper form div.messages.messages-inline.status {
      display: block;
      background-image: none !important;
      margin: -15px 15px 20px 15px !important;
      background-color: transparent;
      padding-left: 10px;
      color: #009688;
      font-size: 13px; }

.page-careers-open .detail-page .content-wrapper {
  max-width: 1076px;
  padding-left: 15px;
  padding-right: 15px;
  color: #4b4d53;
  padding-top: 60px;
  padding-bottom: 140px; }
  .page-careers-open .detail-page .content-wrapper a {
    color: #3c97d7; }
  .page-careers-open .detail-page .content-wrapper .left label {
    color: #262a2f;
    font-size: 16px;
    line-height: 16px; }
  .page-careers-open .detail-page .content-wrapper .left h2 {
    color: #365e86;
    margin-bottom: 30px;
    text-align: left; }
  .page-careers-open .detail-page .content-wrapper .left .description {
    color: #4b4d53;
    font-size: 18px;
    margin-bottom: 45px; }
  .page-careers-open .detail-page .content-wrapper .left h5 {
    font-size: 18px;
    margin-bottom: 30px; }
  .page-careers-open .detail-page .content-wrapper .left p {
    margin-bottom: 45px; }
  .page-careers-open .detail-page .content-wrapper .right .box {
    padding: 20px 15px;
    border: 1px solid #b8b6b3;
    font-family: Bitter;
    margin-bottom: 50px; }
    .page-careers-open .detail-page .content-wrapper .right .box .row {
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 25px; }
      .page-careers-open .detail-page .content-wrapper .right .box .row:last-child {
        margin-bottom: 0px; }
    .page-careers-open .detail-page .content-wrapper .right .box i {
      color: #365e86; }
  .page-careers-open .detail-page .content-wrapper .right form {
    background-color: #f1f0ef;
    padding: 40px 60px; }
    .page-careers-open .detail-page .content-wrapper .right form h4 {
      color: #262a2f;
      font-size: 24px;
      margin-bottom: 30px;
      text-align: center; }
    .page-careers-open .detail-page .content-wrapper .right form label,
    .page-careers-open .detail-page .content-wrapper .right form select {
      color: #4b4d53;
      font-size: 14px; }
    .page-careers-open .detail-page .content-wrapper .right form input {
      background-color: #fff;
      box-shadow: none;
      border: none;
      height: 40px;
      border-radius: 0px;
      margin-bottom: 10px; }
    .page-careers-open .detail-page .content-wrapper .right form .submit input {
      font-size: 12px;
      height: 40px;
      color: #fff;
      padding: 11px 43px;
      background: #365e86; }
    .page-careers-open .detail-page .content-wrapper .right form div.messages.messages-inline.error {
      display: block;
      background-image: none !important;
      margin: -15px 15px 20px 15px !important;
      background-color: transparent;
      padding-left: 10px;
      color: #da1515;
      font-size: 13px; }
    .page-careers-open .detail-page .content-wrapper .right form div.messages.messages-inline.status {
      display: block;
      background-image: none !important;
      margin: -15px 15px 20px 15px !important;
      background-color: transparent;
      padding-left: 10px;
      color: #009688;
      font-size: 13px; }

.page-contact .detail-page .content-wrapper {
  padding-top: 110px;
  padding-bottom: 60px;
  max-width: 600px; }
  .page-contact .detail-page .content-wrapper h2 {
    color: #252524;
    margin-bottom: 100px;
    text-align: center; }
  .page-contact .detail-page .content-wrapper p {
    color: #4b4d53;
    margin-bottom: 70px;
    line-height: 24px; }
    .page-contact .detail-page .content-wrapper p a {
      color: #365e86;
      font-size: 24px;
      display: block;
      margin-bottom: 50px;
      line-height: 26px; }
    .page-contact .detail-page .content-wrapper p br {
      display: none; }
  .page-contact .detail-page .content-wrapper ul {
    margin: 0px;
    list-style: none; }
    .page-contact .detail-page .content-wrapper ul li i {
      color: #365e86;
      margin-right: 10px;
      font-size: 24px; }
    .page-contact .detail-page .content-wrapper ul li a {
      color: #365e86;
      font-size: 24px;
      display: block;
      margin-bottom: 50px;
      line-height: 26px; }

.page-contact-open .detail-page .content-wrapper [type='text'],
.page-contact-open .detail-page .content-wrapper [type='email'],
.page-contact-open .detail-page .content-wrapper [type='number'],
.page-contact-open .detail-page .content-wrapper [type='tel'] {
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 1px solid #333333;
  margin-bottom: 55px;
  background: #fff; }
.page-contact-open .detail-page .content-wrapper textarea {
  border-radius: 0px;
  box-shadow: none;
  border: 1px solid #333333;
  background: #fff;
  min-height: 198px;
  margin-bottom: 0px; }
.page-contact-open .detail-page .content-wrapper .inputs {
  position: relative; }
  .page-contact-open .detail-page .content-wrapper .inputs label {
    position: absolute;
    color: #333333;
    font-size: 16px;
    line-height: 16px;
    top: 11px;
    left: 21px; }
.page-contact-open .detail-page .content-wrapper .inputs input:focus + label {
  display: none; }
.page-contact-open .detail-page .content-wrapper form p {
  color: #333333;
  font-size: 16px;
  padding: 0 15px;
  margin-bottom: 30px; }
.page-contact-open .detail-page .content-wrapper .submit {
  margin-top: 60px; }

.asterisk {
  color: #90231c;
  font-size: 16px; }

.checkbox,
.form-type-checkbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px; }
  .checkbox [type="checkbox"],
  .form-type-checkbox [type="checkbox"] {
    opacity: 0;
    z-index: 1;
    margin-bottom: 0px;
    flex: 0; }
    .checkbox [type="checkbox"]:checked + label::after,
    .form-type-checkbox [type="checkbox"]:checked + label::after {
      content: "\f00c";
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 18px;
      top: -4px;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555;
      font-family: 'FontAwesome';
      font-size: 14px;
      color: #2c4a6a; }
  .checkbox label,
  .form-type-checkbox label {
    height: 32px;
    flex: 1;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 25px;
    color: #333333;
    font-size: 16px;
    line-height: 22px !important; }
    .checkbox label::before,
    .form-type-checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      top: 0%;
      border: 1px solid #333333;
      border-radius: 0px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }

.page-user header {
  margin-bottom: 60px;
  border-bottom: 1px solid #e6e6e6; }
.page-user form {
  width: 100%;
  max-width: 450px; }
  .page-user form .description {
    font-size: 13px;
    color: #4b4d53; }
.page-user footer {
  margin-top: 60px; }

.tabs {
  border: none; }
  .tabs ul.primary {
    background: #fff !important;
    margin: 0px 0px 30px 0px !important;
    border: none;
    padding-left: 0px; }
    .tabs ul.primary li {
      display: block;
      float: left;
      margin-right: 10px; }
      .tabs ul.primary li a,
      .tabs ul.primary li a:hover,
      .tabs ul.primary li a:focus,
      .tabs ul.primary li a:active {
        margin: 0 !important;
        background: #fff;
        border: 1px solid #e6e6e6;
        font-size: 14px;
        text-transform: uppercase;
        padding: 15px 50px !important;
        color: #1e1914;
        display: inline-block; }
      .tabs ul.primary li.active a {
        background: #365e86 !important;
        border: 1px solid #365e86;
        color: #fff; }

.form-item {
  margin: 0px 0px 20px 0px; }
  .form-item label {
    color: #4b4d53;
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .form-item input,
  .form-item select,
  .form-item input:focus {
    background-color: #fff;
    height: 42px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 1px solid #edece9;
    margin-bottom: 5px;
    box-shadow: none;
    -webkit-box-shadow: none;
    color: #4b4d53;
    padding-left: 25px;
    padding-right: 25px;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
  .form-item select {
    background-image: url("../images/select-down.png");
    background-position: right center;
    outline: none; }

input[type="submit"] {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  color: #1e1914;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 0px;
  height: 43px;
  background-color: #fff;
  border: 1px solid #365e86;
  position: relative;
  min-width: 88px; }

input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #365e86;
  color: #fff; }

.top-select-box {
  margin-bottom: 50px; }
  .top-select-box select {
    margin-bottom: 0px; }
  .top-select-box label {
    float: left;
    font-family: Bitter;
    color: #b8b6b3;
    font-size: 12px;
    padding-top: 5px;
    font-weight: 400;
    padding-right: 6px;
    position: relative;
    padding-left: 10px;
    margin-bottom: 0px !important;
    line-height: 20px; }
    .top-select-box label:after {
      content: ":";
      position: absolute;
      right: 0px;
      top: 4px;
      color: #b8b6b3; }
  .top-select-box .views-exposed-widget {
    float: none;
    margin-right: 10px;
    vertical-align: middle;
    padding: 0px;
    display: inline-block;
    background-color: #f1f2f7; }
  .top-select-box .views-widget {
    float: right; }

ul.pager {
  text-align: center;
  margin-top: 50px; }
  ul.pager li {
    margin-bottom: 0px;
    list-style: none;
    display: inline; }
  ul.pager a {
    background-color: #365e86;
    display: inline-block;
    font-family: Bitter;
    color: #ffffff;
    font-size: 16px;
    padding: 12px 25px;
    text-align: center;
    margin-bottom: 10px; }
  ul.pager .pager-current {
    display: inline-block;
    font-size: 16px;
    padding: 11px 25px;
    border: 1px solid #365e86; }

.view-empty {
  text-align: center;
  color: #4b4d53;
  font-size: 18px; }

.attachments {
  margin-left: 0px; }
  .attachments li {
    font-size: 11px;
    list-style: none; }
    .attachments li a {
      display: inline-block;
      padding: 5px 10px;
      background: #2c4a6a;
      color: #fff !important;
      position: relative;
      padding-left: 40px;
      font-size: 14px; }
      .attachments li a:after {
        font: normal normal normal 18px/1 FontAwesome;
        height: 100%;
        position: absolute;
        top: 0;
        width: 32px;
        text-align: center;
        background: #2c4a6a;
        padding-top: 7px;
        border-right: 1px solid;
        content: "\f0c6";
        left: 0; }

.top-bar-right form .form-actions {
  margin: 0px; }
.top-bar-right form .search-back {
  display: none; }
.top-bar-right form .form-item-search-block-form {
  margin: 0;
  float: left; }
  .top-bar-right form .form-item-search-block-form input {
    margin-bottom: 0; }
.top-bar-right form #edit-actions {
  float: right;
  padding: 10px 10px 4px 10px;
  background: #e8e8e8; }
  .top-bar-right form #edit-actions input {
    margin: 0px;
    width: 22px; }

.page-search #wrapper {
  display: none; }
.page-search .content-wrapper {
  max-width: 1076px;
  margin: 0 auto;
  padding: 50px 15px 80px 15px; }
  .page-search .content-wrapper h1 {
    font-size: 36px;
    color: #252525;
    line-height: 40px; }
  .page-search .content-wrapper .search-results {
    margin-left: 0px; }
    .page-search .content-wrapper .search-results .title {
      font-size: 21px;
      line-height: 28px;
      margin-bottom: 20px; }
    .page-search .content-wrapper .search-results li {
      margin-bottom: 25px;
      padding-bottom: 1px;
      border-bottom: 1px solid #ededed; }

@media only screen and (max-width: 1024px) {
  footer .footer-section-1 {
    text-align: center;
    margin-bottom: 70px; }

  .top-bar {
    display: block; }
    .top-bar ul {
      display: block; }
    .top-bar ul a {
      padding-top: 15px;
      padding-bottom: 15px; }
    .top-bar .search-icon {
      display: none; }
    .top-bar .block-search {
      position: static;
      visibility: visible;
      overflow: hidden;
      padding: 0 18px;
      background: #fff; }
    .top-bar .top-bar-right form #edit-actions {
      float: left; }

  .top-bar-title {
    margin-right: 0px; }
    .top-bar-title span {
      float: right;
      margin-top: 2px; }
    .top-bar-title .menu-icon.dark::after {
      height: 3px;
      background: #2b4766;
      box-shadow: 0 7px 0 #2b4766, 0 14px 0 #2b4766; }

  .top-bar-right ul {
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px; }

  .top-bar ul .is-dropdown-submenu {
    display: none; }

  .page-attorneys-open .content-wrapper {
    max-width: 100%;
    width: 100%;
    padding-right: 60px;
    padding-bottom: 30px; }
  .page-attorneys-open .right-sidebar {
    margin-top: 0px;
    width: 95%;
    margin-bottom: 130px; }

  .has-rightsidebar .content-wrapper {
    max-width: 100%;
    width: 100%;
    padding-right: 60px;
    padding-bottom: 30px;
    float: none; }
  .has-rightsidebar .right-sidebar {
    float: none;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 100%; }

  .page-home .map {
    display: block; } }
@media only screen and (max-width: 480px) {
  .top-bar {
    padding: 10px 15px; }

  .footer-section-1 {
    width: 247px;
    height: 30px;
    background-size: 247px 100%; }

  .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 .right-top .row {
    margin: 0px;
    height: auto; }
  .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 .right-top .img-section {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0px; }
  .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 .right-top .content {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
@media only screen and (max-width: 640px) {
  h2 {
    font-size: 36px; }

  #arrowRight,
  #arrowLeft {
    display: block; }

  .site-logo {
    height: 29px;
    width: 230px; }

  .banner p {
    width: 80%;
    font-size: 22px;
    line-height: 38px;
    -webkit-line-clamp: 3;
    max-height: 114px; }
  .banner .banner-image {
    overflow: hidden;
    max-height: 300px; }
    .banner .banner-image img {
      min-height: 300px;
      max-width: 1366px; }

  .page-home .banner-image {
    height: 500px;
    overflow: hidden; }
    .page-home .banner-image img {
      height: 500px;
      max-width: 1024px;
      width: auto !important;
      transform: translateX(calc((100vw - 1024px) / 2)); }
  .page-home .banner-content {
    padding: 0 20px; }
  .page-home .banner-content-wrapper img {
    max-width: 90%;
    min-width: 278px; }
  .page-home .banner-content-wrapper .tagline {
    font-size: 14px;
    line-height: 28px;
    -webkit-line-clamp: 3;
    max-height: 84px;
    margin-top: 33px; }
  .page-home .banner-content-wrapper br {
    display: none; }
  .page-home .company-description {
    padding-top: 75px; }
    .page-home .company-description p {
      max-height: 2000px;
      width: 95%; }
  .page-home .twin-blocks .left-block {
    max-width: 100%;
    padding: 70px 20px;
    text-align: center; }
    .page-home .twin-blocks .left-block h2 {
      font-size: 30px;
      text-transform: uppercase;
      margin-bottom: 50px;
      line-height: 34px; }
      .page-home .twin-blocks .left-block h2 br {
        display: none; }
    .page-home .twin-blocks .left-block .content {
      display: none; }
    .page-home .twin-blocks .left-block ul li {
      margin-bottom: 20px; }
      .page-home .twin-blocks .left-block ul li label {
        font-size: 20px;
        line-height: 30px; }
    .page-home .twin-blocks .left-block .see-more {
      display: block;
      position: static;
      margin-left: 0;
      width: 134px;
      text-align: center;
      margin: 38px auto 0 auto;
      background-image: none; }
  .page-home .our-offices {
    padding: 70px 40px;
    text-align: center; }
    .page-home .our-offices h2 {
      font-size: 30px;
      text-transform: uppercase;
      line-height: 34px; }
    .page-home .our-offices ul li {
      margin-bottom: 30px; }
      .page-home .our-offices ul li h5 {
        font-size: 26px; }
      .page-home .our-offices ul li p {
        font-size: 18px; }
    .page-home .our-offices .see-all.absolute {
      position: relative;
      background-image: none;
      display: inline-block;
      padding: 9px 30px;
      margin-top: 50px; }
  .page-home .map {
    display: none; }
  .page-home .journals .row {
    position: relative;
    padding-bottom: 192px; }
  .page-home .journals .large-4 {
    margin-top: 70px;
    padding: 0 20px;
    text-align: center; }
    .page-home .journals .large-4 h2 {
      margin-bottom: 0;
      display: inline-block;
      line-height: 36px;
      margin-left: 12px;
      position: relative;
      top: 6px; }
    .page-home .journals .large-4 p {
      display: none; }
    .page-home .journals .large-4 .view-more {
      position: absolute;
      bottom: 65px;
      left: 0;
      text-align: center;
      width: 100%; }
      .page-home .journals .large-4 .view-more a.black-btn {
        font-size: 14px;
        padding: 10px 32px; }
  .page-home .journals .large-8 {
    padding-top: 35px; }
    .page-home .journals .large-8 h5 {
      text-align: center; }
  .page-home .news {
    overflow: hidden; }
    .page-home .news .news-block-right .news-block {
      box-shadow: 0px 0px 8px rgba(30, 25, 20, 0.2);
      -webkit-box-shadow: 0px 0px 8px rgba(30, 25, 20, 0.2); }
    .page-home .news .news-block-right .block-footer {
      background: #fff; }
    .page-home .news .row {
      position: relative;
      padding-bottom: 192px; }
    .page-home .news .large-4 {
      margin-top: 70px;
      padding: 0 50px;
      text-align: center; }
      .page-home .news .large-4 h2 {
        color: #1e1914;
        text-transform: uppercase; }
      .page-home .news .large-4 p {
        display: none; }
      .page-home .news .large-4 .view-more {
        position: absolute;
        bottom: 65px;
        left: 0;
        text-align: center;
        width: 100%; }
        .page-home .news .large-4 .view-more a.blue-btn {
          font-size: 14px;
          padding: 10px 32px; }
    .page-home .news .large-8 .row {
      padding-bottom: 0px;
      margin-top: 15px;
      flex-wrap: nowrap; }

  .page-industries .industries-list .content {
    padding-left: 15px;
    padding-top: 0px; }
    .page-industries .industries-list .content h3 {
      font-size: 28px; }

  .detail-page .content-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px; }

  .page-news .content-wrapper,
  .page-journals .content-wrapper {
    padding-left: 15px;
    padding-right: 15px; }
  .page-news .news-filters,
  .page-journals .news-filters {
    margin-left: -15px;
    margin-right: -15px; }

  .page-news .img-section {
    max-height: 250px; }
  .page-news .large-8,
  .page-news .large-4 {
    margin-bottom: 40px; }
  .page-news .large-8 .row {
    margin-left: 0px;
    margin-right: 0px; }
  .page-news .tabs-panel {
    padding: 0px;
    margin-left: -15px;
    margin-right: -15px; }

  footer {
    padding: 60px 15px; }
    footer .footer-section-2 {
      display: block;
      margin-bottom: 60px; }
    footer .footer-section-3 {
      display: none; }
    footer .footer-section-4 {
      margin-bottom: 60px; }
    footer .copyright {
      margin-top: 0px; }

  .page-attorneys-open .content-wrapper {
    padding-right: 15px; }
    .page-attorneys-open .content-wrapper h2 {
      margin-top: 30px; }
    .page-attorneys-open .content-wrapper .tabs-wrap > ul {
      margin-bottom: 30px;
      padding-bottom: 25px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      overflow-x: scroll; }
      .page-attorneys-open .content-wrapper .tabs-wrap > ul li {
        margin-bottom: 0 !important;
        flex: 0 0 auto;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        margin-right: 15px; }
      .page-attorneys-open .content-wrapper .tabs-wrap > ul li.is-active a:after {
        border-left: 20px solid transparent !important;
        border-right: 20px solid transparent !important;
        border-top: 20px solid #243c56 !important;
        border-bottom: none !important;
        bottom: -20px !important;
        top: auto !important;
        border-bottom: none !important;
        right: calc(50% - 20px) !important; }
  .page-attorneys-open .img-section img {
    min-width: 100% !important; }

  .top-select-box select {
    float: right; }
  .top-select-box .views-exposed-widget {
    width: 320px;
    margin-top: 10px; }
  .top-select-box .views-submit-button,
  .top-select-box .views-reset-button {
    background: transparent; }

  .page-about-us .detail-page .content-wrapper {
    padding-left: 15px;
    padding-right: 15px; }
    .page-about-us .detail-page .content-wrapper .image-section {
      margin: 30px -15px 30px -15px; }

  .page-journals .content-wrapper .large h3 {
    font-size: 32px; }
  .page-journals .content-wrapper .large .content p {
    font-size: 16px; }
  .page-journals .content-wrapper .large .overflow-hidden.relative {
    padding-bottom: 70px; }
  .page-journals .content-wrapper .large .profile {
    width: 100%;
    float: none;
    margin-bottom: 15px; }
  .page-journals .content-wrapper .large .content {
    width: 100%;
    float: none; }
  .page-journals .content-wrapper .small-row {
    width: 100%;
    float: none; }
    .page-journals .content-wrapper .small-row .small {
      padding-right: 0px;
      margin-bottom: 50px; }
  .page-journals .content-wrapper .news-filters {
    overflow: hidden; }
  .page-journals .content-wrapper .news-filters > ul {
    justify-content: flex-start;
    min-width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    overflow-x: auto; }
    .page-journals .content-wrapper .news-filters > ul li {
      flex: 0 0 auto;
      -webkit-flex: 0 0 auto; }

  .page-about-us .detail-page .content-wrapper .left {
    padding-right: 0px;
    width: 100%;
    float: none;
    margin-bottom: 50px;
    position: relative; }
    .page-about-us .detail-page .content-wrapper .left ul {
      padding-right: 0px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .page-about-us .detail-page .content-wrapper .left ul li {
        flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        position: relative; }
        .page-about-us .detail-page .content-wrapper .left ul li .content {
          border-top: 2px solid #003386;
          border-left: none;
          padding-bottom: 10px;
          padding-top: 20px;
          margin-top: 14px; }
    .page-about-us .detail-page .content-wrapper .left #arrowRight,
    .page-about-us .detail-page .content-wrapper .left #arrowLeft {
      margin-top: -40px; }
  .page-about-us .detail-page .content-wrapper .left + .right {
    padding-left: 0;
    width: 100%;
    float: left; }

  .page-careers .listing-page .content-wrapper {
    padding-top: 60px;
    padding-bottom: 60px; }
    .page-careers .listing-page .content-wrapper ul {
      margin-top: 50px; }
      .page-careers .listing-page .content-wrapper ul li h5 {
        margin-bottom: 10px;
        margin-top: 10px; }
    .page-careers .listing-page .content-wrapper form {
      padding: 40px 20px; }

  .page-careers-open .detail-page .content-wrapper {
    padding-bottom: 60px; }
    .page-careers-open .detail-page .content-wrapper .right .box {
      padding-bottom: 0px; }
      .page-careers-open .detail-page .content-wrapper .right .box .row {
        margin-bottom: 0px; }
      .page-careers-open .detail-page .content-wrapper .right .box .small-12 {
        margin-bottom: 20px; }
    .page-careers-open .detail-page .content-wrapper .right form {
      padding: 40px 00px; }
      .page-careers-open .detail-page .content-wrapper .right form .row {
        margin-left: 0px;
        margin-right: 0px; }

  .page-contact .listing-page .content-wrapper {
    padding-top: 60px; }
    .page-contact .listing-page .content-wrapper h2 {
      margin-bottom: 60px; }
    .page-contact .listing-page .content-wrapper p {
      margin-bottom: 40px; }
    .page-contact .listing-page .content-wrapper ul li {
      margin-bottom: 30px; }
      .page-contact .listing-page .content-wrapper ul li a {
        font-size: 18px; }
      .page-contact .listing-page .content-wrapper ul li i {
        font-size: 20px; }

  .page-contact-open .detail-page .content-wrapper .large-12 {
    padding-left: 0px;
    padding-right: 0px; }
  .page-contact-open .detail-page .content-wrapper form p {
    padding: 0 0px; }
  .page-contact-open .detail-page .content-wrapper .m-b-30 .small-12 {
    padding-left: 0px;
    padding-right: 0px; }

  .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 {
    height: auto; }
    .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 .right-top {
      height: auto; }
      .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 .right-top .img-section {
        overflow: hidden; }
        .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 .right-top .img-section img {
          max-width: 100vw; }
    .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 .content {
      padding: 18px 15px; }
      .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 .content .phone a {
        font-size: 18px; }
      .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 .content p {
        margin-bottom: 8px;
        font-size: 14px; }
    .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 h4 {
      margin-bottom: 15px; }
    .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 .right-bottom {
      height: auto;
      max-height: 1000px; }
    .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 .map-section img {
      min-height: 100px; } }
@media only screen and (min-width: 641px) and (max-width: 991px) {
  .page-journals .content-wrapper .small {
    padding-right: 0px; }

  .page-about-us .detail-page .content-wrapper .left {
    padding-right: 15px; }
  .page-about-us .detail-page .content-wrapper .left + .right {
    padding-left: 15px; } }
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .page-home .banner-image {
    height: 500px;
    overflow: hidden; }
    .page-home .banner-image img {
      height: 500px;
      max-width: 1024px;
      width: auto !important;
      transform: translateX(calc((100vw - 1024px) / 2)); }
  .page-home .banner-content {
    padding: 0 20px; }
  .page-home .map img {
    min-height: 100px; }
  .page-home .featured-industries {
    padding: 40px 20px 75px; }
    .page-home .featured-industries h2 {
      font-size: 36px;
      line-height: 43px; }
    .page-home .featured-industries ul li {
      margin-bottom: 25px; }
      .page-home .featured-industries ul li .content {
        padding: 40px 20px 10px; }
  .page-home .journals .large-4 {
    padding: 0 50px 0 50px; }
  .page-home .journals .large-8 {
    padding-left: 50px;
    padding-right: 50px; }
  .page-home .news .large-4 {
    padding: 0 50px 0 50px; }
  .page-home .news .large-8 {
    padding: 0 35px 0 35px; }
  .page-home .news .row {
    padding-bottom: 30px; }

  .page-news .large .img-section {
    max-height: 200px; }
  .page-news .large .grid-section .content p {
    -webkit-line-clamp: 3;
    max-height: 66px; }

  .page-news .content-wrapper,
  .page-journals .content-wrapper {
    padding-left: 50px;
    padding-right: 50px; }
  .page-news .news-filters,
  .page-journals .news-filters {
    margin-left: -50px;
    margin-right: -50px; }

  .top-select-box .views-exposed-widget {
    margin-top: 10px; }

  .page-about-us .detail-page .content-wrapper {
    padding-left: 50px;
    padding-right: 50px; }
    .page-about-us .detail-page .content-wrapper .image-section {
      margin: 80px -50px 90px -50px; }

  .page-careers-open .detail-page .content-wrapper .right form {
    padding: 40px 00px; }
    .page-careers-open .detail-page .content-wrapper .right form .row {
      margin-left: 0px;
      margin-right: 0px; } }
@media only screen and (min-width: 1025px) and (max-width: 1100px) {
  .site-logo {
    height: 29px;
    width: 230px; }

  .top-bar ul a {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px; }

  .top-bar {
    padding-left: 15px;
    padding-right: 15px; }

  .search-icon img {
    width: 20px; }

  .search-icon {
    width: 40px;
    background-size: 20px 20px; } }
@media only screen and (min-width: 1101px) and (max-width: 1270px) {
  .site-logo {
    height: 32px;
    width: 250px; }

  .top-bar ul a {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px; }

  .top-bar {
    padding-left: 15px;
    padding-right: 15px; }

  .search-icon img {
    width: 20px; }

  .search-icon {
    width: 40px;
    background-size: 20px 20px; } }
@media only screen and (max-width: 991px) {
  .page-industries .industries-list .thumbnail {
    overflow: hidden; }
    .page-industries .industries-list .thumbnail img {
      max-width: 480px;
      width: auto; }

  .page-offices .content-wrapper .main-content {
    height: auto;
    /* Track */
    /* Handle */ }
    .page-offices .content-wrapper .main-content ul.quicktabs-tabs {
      flex: 0 0 100%;
      max-width: 100%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      margin-bottom: 30px;
      direction: ltr;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 25px;
      max-height: 102px;
      flex-wrap: nowrap;
      box-shadow: none;
      -webkit-box-shadow: none; }
      .page-offices .content-wrapper .main-content ul.quicktabs-tabs li {
        margin-right: 10px;
        -webkit-flex: 0 0 auto; }
        .page-offices .content-wrapper .main-content ul.quicktabs-tabs li a {
          width: 100%;
          float: none; }
      .page-offices .content-wrapper .main-content ul.quicktabs-tabs li.active a:after {
        top: auto;
        right: calc(50% - 20px);
        width: 0;
        height: 0;
        border-bottom: none;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #243c56;
        bottom: -20px; }
    .page-offices .content-wrapper .main-content #quicktabs-container-view__offices__panel_pane_1 {
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
    .page-offices .content-wrapper .main-content ::-webkit-scrollbar-track {
      background: #fff;
      width: 1px;
      height: 5px; }
    .page-offices .content-wrapper .main-content ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 0px;
      border-radius: 0px;
      background: rgba(213, 213, 213, 0.25);
      width: 0px; }
    .page-offices .content-wrapper .main-content ::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(213, 213, 213, 0.25); }

  .page-journals-open .left-sidebar {
    width: 100%;
    margin-right: 00px;
    float: none;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 60px; } }
@media only screen and (min-width: 1025px) and (max-width: 1100px) {
  .page-home .our-offices {
    padding: 30px;
    overflow: auto;
    max-height: 50vw; }
    .page-home .our-offices h2 {
      font-size: 38px;
      margin-bottom: 20px; }
    .page-home .our-offices ul li {
      margin-bottom: 25px; }
      .page-home .our-offices ul li h5 {
        font-size: 21px; } }

/*# sourceMappingURL=style.css.map */
