    @media only screen and (max-width: 1024px) {
        footer {
            .footer-section-1 {
                text-align: center;
                margin-bottom: 70px;
            }
        }
        .top-bar {
            display: block;
            ul {
                display: block;
            }
            ul a {
                padding-top: 15px;
                padding-bottom: 15px;
            }
            .search-icon {
                display: none;
            }
            .block-search {
                position: static;
                visibility: visible;
                overflow: hidden;
                padding: 0 18px;
                background: #fff;
            }
            .top-bar-right form #edit-actions {
                float: left;
            }
        }
        .top-bar-title {
            margin-right: 0px;
            span {
                float: right;
                margin-top: 2px;
            }
            .menu-icon.dark::after {
                height: 3px;
                background: #2b4766;
                box-shadow: 0 7px 0 #2b4766, 0 14px 0 #2b4766;
            }
        }
        .top-bar-right {
            ul {
                -webkit-align-items: flex-start;
                -ms-flex-align: flex-start;
                align-items: flex-start;
                flex-direction: column;
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
        .top-bar ul .is-dropdown-submenu {
            display: none;
        }
        .page-attorneys-open {
            .content-wrapper {
                max-width: 100%;
                width: 100%;
                padding-right: 60px;
                padding-bottom: 30px;
            }
            .right-sidebar {
                margin-top: 0px;
                width: 95%;
                margin-bottom: 130px;
            }
        }
        .has-rightsidebar {
            .content-wrapper {
                max-width: 100%;
                width: 100%;
                padding-right: 60px;
                padding-bottom: 30px;
                float: none;
            }
            .right-sidebar {
                float: none;
                width: 95%;
                margin-top: 20px;
                margin-bottom: 50px;
                max-width: 100%;
            }
        }
        .page-home {
            .map {
                display: block;
            }
        }
    }
    
    @media only screen and (min-width: 481px) and (max-width: 640px) {}
    
    @media only screen and (max-width: 480px) {
        .top-bar {
            padding: 10px 15px;
        }
        .footer-section-1 {
            width: 247px;
            height: 30px;
            background-size: 247px 100%;
        }
        .page-offices .content-wrapper .main-content {
            #quicktabs-container-view__offices__panel_pane_1 {
                .right-top {
                    .row {
                        margin: 0px;
                        height: auto;
                    }
                    .img-section {
                        -webkit-flex: 0 0 100%;
                        -ms-flex: 0 0 100%;
                        flex: 0 0 100%;
                        max-width: 100%;
                        padding: 0px;
                    }
                    .content {
                        -webkit-flex: 0 0 100%;
                        -ms-flex: 0 0 100%;
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
    
    //small
    @media only screen and (max-width: 640px) {
        h2 {
            font-size: 36px;
        }
        #arrowRight,
        #arrowLeft {
            display: block;
        }
        .site-logo {
            height: 29px;
            width: 230px;
        }
        .banner {
            p {
                width: 80%;
                font-size: 22px;
                line-height: 38px;
                -webkit-line-clamp: 3;
                max-height: 114px;
            }
            .banner-image {
                overflow: hidden;
                max-height: 300px;
                img {
                    min-height: 300px;
                    max-width: 1366px;
                }
            }
        }
        .page-home {
            .banner-image {
                height: 500px;
                overflow: hidden;
                img {
                    height: 500px;
                    max-width: 1024px;
                    width: auto!important;
                    transform: translateX(calc((100vw - 1024px) / 2));
                }
            }
            .banner-content {
                padding: 0 20px;
            }
            .banner-content-wrapper {
                img {
                    max-width: 90%;
                    min-width: 278px;
                }
                .tagline {
                    font-size: 14px;
                    line-height: 28px;
                    -webkit-line-clamp: 3;
                    max-height: 84px;
                    margin-top: 33px;
                }
                br {
                    display: none;
                }
            }
            .company-description {
                padding-top: 75px;
                p {
                    max-height: 2000px;
                    width: 95%;
                }
            }
            .twin-blocks .left-block {
                max-width: 100%;
                padding: 70px 20px;
                text-align: center;
                h2 {
                    font-size: 30px;
                    text-transform: uppercase;
                    margin-bottom: 50px;
                    line-height: 34px;
                    br {
                        display: none;
                    }
                }
                .content {
                    display: none;
                }
                ul {
                    li {
                        margin-bottom: 20px;
                        label {
                            font-size: 20px;
                            line-height: 30px;
                        }
                    }
                }
                .see-more {
                    display: block;
                    position: static;
                    margin-left: 0;
                    width: 134px;
                    text-align: center;
                    margin: 38px auto 0 auto;
                    background-image: none;
                }
            }
            .our-offices {
                padding: 70px 40px;
                text-align: center;
                h2 {
                    font-size: 30px;
                    text-transform: uppercase;
                    line-height: 34px;
                }
                ul {
                    li {
                        margin-bottom: 30px;
                        h5 {
                            font-size: 26px;
                        }
                        p {
                            font-size: 18px;
                        }
                    }
                }
                .see-all.absolute {
                    position: relative;
                    background-image: none;
                    display: inline-block;
                    padding: 9px 30px;
                    margin-top: 50px;
                }
            }
            .map {
                display: none;
            }
            .journals {
                .row {
                    position: relative;
                    padding-bottom: 192px;
                }
                .large-4 {
                    margin-top: 70px;
                    padding: 0 20px;
                    text-align: center;
                    h2 {
                        margin-bottom: 0;
                        display: inline-block;
                        line-height: 36px;
                        margin-left: 12px;
                        position: relative;
                        top: 6px;
                    }
                    p {
                        display: none;
                    }
                    .view-more {
                        position: absolute;
                        bottom: 65px;
                        left: 0;
                        text-align: center;
                        width: 100%;
                        a.black-btn {
                            font-size: 14px;
                            padding: 10px 32px;
                        }
                    }
                }
                .large-8 {
                    padding-top: 35px;
                    h5 {
                        text-align: center;
                    }
                }
            }
            .news {
                overflow: hidden;
                .news-block-right {
                    .news-block {
                        box-shadow: 0px 0px 8px rgba(30, 25, 20, 0.2);
                        -webkit-box-shadow: 0px 0px 8px rgba(30, 25, 20, 0.2);
                    }
                    .block-footer {
                        background: #fff;
                    }
                }
                .row {
                    position: relative;
                    padding-bottom: 192px;
                }
                .large-4 {
                    margin-top: 70px;
                    padding: 0 50px;
                    text-align: center;
                    h2 {
                        color: #1e1914;
                        text-transform: uppercase;
                    }
                    p {
                        display: none;
                    }
                    .view-more {
                        position: absolute;
                        bottom: 65px;
                        left: 0;
                        text-align: center;
                        width: 100%;
                        a.blue-btn {
                            font-size: 14px;
                            padding: 10px 32px;
                        }
                    }
                }
                .large-8 {
                    .row {
                        padding-bottom: 0px;
                        margin-top: 15px;
                        flex-wrap: nowrap;
                    }
                }
            }
        }
        .page-industries {
            .industries-list {
                .content {
                    padding-left: 15px;
                    padding-top: 0px;
                    h3 {
                        font-size: 28px;
                    }
                }
            }
        }
        .detail-page .content-wrapper {
            padding-left: 15px;
            padding-right: 15px;
            font-size: 16px;
        }
        .page-news,
        .page-journals {
            .content-wrapper {
                padding-left: 15px;
                padding-right: 15px;
            }
            .news-filters {
                margin-left: -15px;
                margin-right: -15px;
            }
        }
        .page-news {
            .img-section {
                max-height: 250px;
            }
            .large-8,
            .large-4 {
                margin-bottom: 40px;
            }
            .large-8 {
                .row {
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }
            .tabs-panel {
                padding: 0px;
                margin-left: -15px;
                margin-right: -15px;
            }
        }
        footer {
            padding: 60px 15px;
            .footer-section-2 {
                display: block;
                margin-bottom: 60px;
            }
            .footer-section-3 {
                display: none;
            }
            .footer-section-4 {
                margin-bottom: 60px;
            }
            .copyright {
                margin-top: 0px;
            }
        }
        .page-attorneys-open {
            .content-wrapper {
                padding-right: 15px;
                h2 {
                    margin-top: 30px;
                }
                .tabs-wrap {
                    &>ul {
                        margin-bottom: 30px;
                        padding-bottom: 25px;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        overflow-x: scroll;
                        li {
                            margin-bottom: 0!important;
                            flex: 0 0 auto;
                            -webkit-flex: 0 0 auto;
                            -ms-flex: 0 0 auto;
                            margin-right: 15px;
                        }
                        li.is-active a:after {
                            border-left: 20px solid transparent!important;
                            border-right: 20px solid transparent!important;
                            border-top: 20px solid #243c56!important;
                            border-bottom: none!important;
                            bottom: -20px!important;
                            top: auto!important;
                            border-bottom: none!important;
                            right: calc(50% - 20px)!important;
                        }
                    }
                }
            }
            .img-section img {
                min-width: 100%!important;
            }
        }
        .top-select-box {
            select {
                float: right;
            }
            .views-exposed-widget {
                width: 320px;
                margin-top: 10px;
            }
            .views-submit-button,
            .views-reset-button {
                background: transparent;
            }
        }
        .page-about-us {
            .detail-page .content-wrapper {
                padding-left: 15px;
                padding-right: 15px;
                .image-section {
                    margin: 30px -15px 30px -15px;
                }
            }
        }
        .page-journals .content-wrapper {
            .large h3 {
                font-size: 32px;
            }
            .large .content p {
                font-size: 16px;
            }
            .large {
                .overflow-hidden.relative {
                    padding-bottom: 70px;
                }
                .profile {
                    width: 100%;
                    float: none;
                    margin-bottom: 15px;
                }
                .content {
                    width: 100%;
                    float: none;
                }
            }
            .small-row {
                width: 100%;
                float: none;
                .small {
                    padding-right: 0px;
                    margin-bottom: 50px;
                }
            }
            .news-filters {
                overflow: hidden;
            }
            .news-filters>ul {
                justify-content: flex-start;
                min-width: 100%;
                flex: 0 0 100%;
                max-width: 100%;
                overflow-x: auto;
                li {
                    flex: 0 0 auto;
                    -webkit-flex: 0 0 auto;
                }
            }
        }
        .page-about-us .detail-page .content-wrapper {
            .left {
                padding-right: 0px;
                width: 100%;
                float: none;
                margin-bottom: 50px;
                position: relative;
                ul {
                    padding-right: 0px;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    li {
                        flex: 0 0 100%;
                        -webkit-flex: 0 0 100%;
                        -ms-flex: 0 0 100%;
                        position: relative;
                        .content {
                            border-top: 2px solid #003386;
                            border-left: none;
                            padding-bottom: 10px;
                            padding-top: 20px;
                            margin-top: 14px;
                        }
                    }
                }
                #arrowRight,
                #arrowLeft {
                    margin-top: -40px;
                }
            }
            .left+.right {
                padding-left: 0;
                width: 100%;
                float: left;
            }
        }
        .page-careers .listing-page .content-wrapper {
            padding-top: 60px;
            padding-bottom: 60px;
            ul {
                margin-top: 50px;
                li {
                    h5 {
                        margin-bottom: 10px;
                        margin-top: 10px;
                    }
                }
            }
            form {
                padding: 40px 20px;
            }
        }
        .page-careers-open .detail-page .content-wrapper {
            padding-bottom: 60px;
            .right .box {
                padding-bottom: 0px;
                .row {
                    margin-bottom: 0px;
                }
                .small-12 {
                    margin-bottom: 20px;
                }
            }
            .right form {
                padding: 40px 00px;
                .row {
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }
        }
        .page-contact .listing-page .content-wrapper {
            padding-top: 60px;
            h2 {
                margin-bottom: 60px;
            }
            p {
                margin-bottom: 40px;
            }
            ul li {
                margin-bottom: 30px;
                a {
                    font-size: 18px;
                }
                i {
                    font-size: 20px;
                }
            }
        }
        .page-contact-open .detail-page .content-wrapper {
            .large-12 {
                padding-left: 0px;
                padding-right: 0px;
            }
            form p {
                padding: 0 0px;
            }
            .m-b-30 {
                .small-12 {
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
        }
        .page-offices .content-wrapper .main-content {
            #quicktabs-container-view__offices__panel_pane_1 {
                height: auto;
                .right-top {
                    height: auto;
                    .img-section {
                        overflow: hidden;
                        img {
                            max-width: 100vw;
                        }
                    }
                }
                .content {
                    padding: 18px 15px;
                    .phone a {
                        font-size: 18px;
                    }
                    p {
                        margin-bottom: 8px;
                        font-size: 14px;
                    }
                }
                h4 {
                    margin-bottom: 15px;
                }
                .right-bottom {
                    height: auto;
                    max-height: 1000px;
                }
                .map-section img {
                    min-height: 100px;
                }
            }
        }
    }
    
    @media only screen and (min-width: 641px) and (max-width: 991px) {
        .page-journals .content-wrapper {
            .small {
                padding-right: 0px;
            }
        }
        .page-about-us .detail-page .content-wrapper {
            .left {
                padding-right: 15px;
            }
            .left+.right {
                padding-left: 15px;
            }
        }
    }
    
    //medium
    @media only screen and (min-width: 641px) and (max-width: 1024px) {
        .page-home {
            .banner-image {
                height: 500px;
                overflow: hidden;
                img {
                    height: 500px;
                    max-width: 1024px;
                    width: auto!important;
                    transform: translateX(calc((100vw - 1024px) / 2));
                }
            }
            .banner-content {
                padding: 0 20px;
            }
            .map {
                img {
                    min-height: 100px;
                }
            }
            .featured-industries {
                padding: 40px 20px 75px;
                h2 {
                    font-size: 36px;
                    line-height: 43px;
                }
                ul {
                    li {
                        margin-bottom: 25px;
                        .content {
                            padding: 40px 20px 10px;
                        }
                    }
                }
            }
            .journals {
                .large-4 {
                    padding: 0 50px 0 50px;
                }
                .large-8 {
                    padding-left: 50px;
                    padding-right: 50px;
                }
            }
            .news {
                .large-4 {
                    padding: 0 50px 0 50px;
                }
                .large-8 {
                    padding: 0 35px 0 35px;
                }
                .row {
                    padding-bottom: 30px;
                }
            }
        }
        .page-news {
            .large {
                .img-section {
                    max-height: 200px;
                }
                .grid-section .content p {
                    -webkit-line-clamp: 3;
                    max-height: 66px;
                }
            }
        }
        .page-news,
        .page-journals {
            .content-wrapper {
                padding-left: 50px;
                padding-right: 50px;
            }
            .news-filters {
                margin-left: -50px;
                margin-right: -50px;
            }
        }
        .top-select-box .views-exposed-widget {
            margin-top: 10px;
        }
        .page-about-us {
            .detail-page .content-wrapper {
                padding-left: 50px;
                padding-right: 50px;
                .image-section {
                    margin: 80px -50px 90px -50px;
                }
            }
        }
        .page-careers-open .detail-page .content-wrapper {
            .right form {
                padding: 40px 00px;
                .row {
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }
        }
    }
    
    @media only screen and (min-width: 992px) and (max-width: 1024px) {}
    
    @media only screen and (min-width: 1025px) and (max-width: 1100px) {
        .site-logo {
            height: 29px;
            width: 230px;
        }
        .top-bar ul a {
            padding-left: 5px;
            padding-right: 5px;
            font-size: 13px;
        }
        .top-bar {
            padding-left: 15px;
            padding-right: 15px;
        }
        .search-icon img {
            width: 20px;
        }
        .search-icon {
            width: 40px;
            background-size: 20px 20px;
        }
    }
    
    @media only screen and (min-width: 1101px) and (max-width: 1270px) {
        .site-logo {
            height: 32px;
            width: 250px;
        }
        .top-bar ul a {
            padding-left: 5px;
            padding-right: 5px;
            font-size: 14px;
        }
        .top-bar {
            padding-left: 15px;
            padding-right: 15px;
        }
        .search-icon img {
            width: 20px;
        }
        .search-icon {
            width: 40px;
            background-size: 20px 20px;
        }
    }
    
    @media only screen and (max-width: 991px) {
        .page-industries {
            .industries-list .thumbnail {
                overflow: hidden;
                img {
                    max-width: 480px;
                    width: auto;
                }
            }
        }
        .page-offices {
            .content-wrapper .main-content {
                height: auto;
                ul.quicktabs-tabs {
                    flex: 0 0 100%;
                    max-width: 100%;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    overflow-x: auto;
                    overflow-y: hidden;
                    margin-bottom: 30px;
                    direction: ltr;
                    padding-left: 0px;
                    padding-right: 0px;
                    padding-bottom: 25px;
                    max-height: 102px;
                    flex-wrap: nowrap;
                    box-shadow: none;
                    -webkit-box-shadow: none;
                    li {
                        margin-right: 10px;
                        -webkit-flex: 0 0 auto;
                        a {
                            width: 100%;
                            float: none;
                        }
                    }
                    li.active a:after {
                        top: auto;
                        right: calc(50% - 20px);
                        width: 0;
                        height: 0;
                        border-bottom: none;
                        border-left: 20px solid transparent;
                        border-right: 20px solid transparent;
                        border-top: 20px solid #243c56;
                        bottom: -20px;
                    }
                }
                #quicktabs-container-view__offices__panel_pane_1 {
                    -webkit-flex: 0 0 100%;
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                /* Track */
                 ::-webkit-scrollbar-track {
                    background: #fff;
                    width: 1px;
                    height: 5px;
                }
                /* Handle */
                 ::-webkit-scrollbar-thumb {
                    -webkit-border-radius: 0px;
                    border-radius: 0px;
                    background: rgba(213, 213, 213, 0.25);
                    width: 0px;
                }
                 ::-webkit-scrollbar-thumb:window-inactive {
                    background: rgba(213, 213, 213, 0.25);
                }
            }
        }
        .page-journals-open {
            .left-sidebar {
                width: 100%;
                margin-right: 00px;
                float: none;
                border-bottom: 1px solid #e6e6e6;
                margin-bottom: 60px;
            }
        }
    }
    
    @media only screen and (min-width:1025px) and (max-width: 1100px) {
        .page-home {
            .our-offices {
                padding: 30px;
                overflow: auto;
                max-height: 50vw;
                h2 {
                    font-size: 38px;
                    margin-bottom: 20px;
                }
                ul li {
                    margin-bottom: 25px;
                    h5 {
                        font-size: 21px;
                    }
                }
            }
        }
    }