.page-news {
    background-color: $darkcream;
    .content-wrapper {
        padding-top: 50px;
        padding-bottom: 130px;
        max-width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        h2 {
            margin-bottom: 0px;
        }
        &:first-child {
            padding-top: 55px;
            padding-bottom: 35px;
        }
        .tabs-content {
            background: transparent;
            border: none;
            max-width: 1106px;
            margin: 0 auto;
        }
    }
    .columns {
        .grid-section {
            background: #fff;
            overflow: hidden;
            min-height: 100%;
        }
        .content {
            padding: 25px;
            p {
                display: none;
            }
        }
        .img-section {
            overflow: hidden;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            img {
                width: 100%;
            }
        }
        h3 {
            margin-bottom: 0px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            max-height: 102px;
        }
    }
    .large {
        margin-bottom: 30px;
        .grid-section {
            &.row {
                margin-left: 0px;
                margin-right: 0px;
            }
            .content p {
                display: block;
                margin-bottom: 0px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 9;
                line-height: 22px;
                max-height: 198px;
            }
            .img-section {
                img {
                    min-height: 100%;
                    min-width: 100%;
                    max-height: 500px;
                    width: auto;
                    max-width: 500px;
                }
            }
            h3 {
                margin-bottom: 10px;
            }
            img {
                min-height: 200px;
            }
        }
    }
    .small {
        margin-bottom: 30px;
        .img-section {
            max-height: 200px;
            overflow: hidden;
            img {
                min-width: 360px;
                min-height: 360px;
            }
        }
    }
}

.grid-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -15px;
    margin-right: -15px;
    .tabs-panel {
        padding: 0px;
    }
    &.grid-3 {
        .grid {
            width: 33.3%;
            max-width: 33.3%;
        }
        .grid.col-2 {
            width: 66.6%;
            max-width: 66.6%;
        }
    }
    &.grid-4 {
        .grid {
            width: 25%;
            max-width: 25%;
        }
        .grid.col-2 {
            width: 50%;
            max-width: 50%;
        }
    }
    .grid {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 45px;
    }
}

.news-filters {
    margin: 35px -100px 50px -100px;
    overflow-x: auto;
    &>ul {
        margin: 0px;
        display: table;
        min-width: 1200px;
        width: 100%;
        background-color: #fff;
        padding: 0px 25px;
        .views-submit-button {
            display: table-cell;
            vertical-align: middle;
            padding: 0 5px;
        }
        li {
            display: table-cell;
            vertical-align: middle;
            padding: 0 5px;
            color: #4b4d53;
            font-size: 16px;
            label {
                font-weight: 500;
                white-space: nowrap;
                padding-top: 8px;
                color: #4b4d53;
            }
            select {
                margin-bottom: 0px;
                max-width: 70px;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                background: none;
                border: none;
                padding-right: 5px;
                color: #4b4d53;
                outline: none;
            }
        }
        .select-box {
            float: none;
            display: flex;
            flex-direction: row;
            padding-left: 23px;
            background-image: url('../images/down-caret.png');
            background-repeat: no-repeat;
            background-position: 0px center;
            padding-top: 16px;
            padding-bottom: 16px;
        }
        .tabs {
            border: none;
            display: table;
            width: 100%;
            li {
                padding: 0px;
                float: none;
                text-align: center;
            }
            a {
                font-family: Roboto;
                padding: 30px 10px;
                color: #4b4d53;
                font-size: 16px;
            }
            .tabs-title>a[aria-selected='true'] {
                background: #d5d5d5;
            }
        }
    }
}

.page-news-detail {
    .content-wrapper {
        ul,
        ol {
            margin-bottom: 40px;
            padding-left: 15px;
            li {
                color: #365e86;
                font-size: 16px;
                margin-bottom: 15px;
                list-style: initial;
            }
        }
    }
    .right-sidebar {
        &>div {
            margin-bottom: 15px;
        }
        max-width: 230px;
        a,
        a:hover {
            color: #258faf;
        }
    }
}