.page-offices {
    .top-select-box .select-box {
        margin-bottom: 25px;
    }
    .content-wrapper {
        max-width: 1240px;
        padding-top: 75px;
        padding-bottom: 140px;
        padding-left: 15px;
        padding-right: 15px;
        h2 {
            // margin-bottom: 25px;
        }
        .main-content {
            .view-content {
                width: 100%;
            }
            height: 568px;
            position: relative;
            #quicktabs-view__offices__panel_pane_1 {
                margin-left: auto;
                margin-right: auto;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-flow: row wrap;
                -ms-flex-flow: row wrap;
                flex-flow: row wrap;
                width: 100%;
            }
            ul.quicktabs-tabs {
                -webkit-flex: 0 0 33.33333%;
                -ms-flex: 0 0 33.33333%;
                flex: 0 0 33.33333%;
                max-width: 33.33333%;
                padding-left: 0.9375rem;
                padding-right: 0.9375rem;
                overflow-y: auto;
                overflow-x: hidden;
                direction: rtl;
                box-shadow: inset 0px -7px 14px -7px rgba(30, 25, 20, 0.2);
                -webkit-box-shadow: inset 0px -7px 14px -7px rgba(30, 25, 20, 0.2);
                max-height: 568px;
                margin: 0px;
                li {
                    padding: 0;
                    display: block;
                    a {
                        font-family: Bitter;
                        color: #6c6b6b;
                        font-size: 22px;
                        display: block;
                        padding: 15px 25px;
                        background-color: #d5d5d5;
                        border-bottom: 2px solid #fff;
                        position: relative;
                        width: 90%;
                        float: left;
                        text-align: left;
                    }
                    &.active {
                        a {
                            color: #fff;
                            background-color: #243c56;
                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                right: -23px;
                                width: 0;
                                height: 0;
                                border-top: 34px solid transparent;
                                border-bottom: 31px solid transparent;
                                border-left: 23px solid #243c56;
                            }
                        }
                    }
                }
            }
            #quicktabs-container-view__offices__panel_pane_1 {
                flex-direction: column;
                height: 568px;
                flex: 1;
                box-shadow: 2px 1px 4px 0px rgba(30, 25, 20, 0.2);
                -webkit-box-shadow: 2px 1px 4px 0px rgba(30, 25, 20, 0.2);
                .right-bottom {
                    height: 340px;
                    max-height: 340px;
                    overflow: hidden;
                }
                .right-top {
                    height: 228px;
                    overflow: hidden;
                    .row {
                        height: 228px;
                    }
                }
                h4 {
                    color: #1a497c;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                }
                .img-section {
                    img {
                        min-width: 100%;
                        min-height: 228px;
                    }
                }
                .content {
                    padding: 35px 20px;
                    p {
                        margin-bottom: 10px;
                        font-size: 18px;
                    }
                    .phone {
                        a {
                            color: #566e87;
                            font-size: 24px;
                            font-weight: 500;
                        }
                    }
                }
                .map-section {
                    img {
                        min-width: 100%;
                        min-height: 340px;
                    }
                }
            }
        }
         ::-webkit-scrollbar {
            width: 3px;
            position: absolute;
            top: 0;
            left: 0;
        }
        /* Track */
         ::-webkit-scrollbar-track {
            background-color: rgba(191, 191, 191, 0.53);
        }
        /* Handle */
         ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: #4e6b91;
            width: 7px;
            height: 19px;
        }
         ::-webkit-scrollbar-thumb:window-inactive {
            background: #4e6b91;
        }
    }
}