<title>HTML dir to upload protos</title>
<ul>Protos</ul>
<li>Homepage: <a href="home.html">Link<a></li>
<li>Industries: <a href="industries.html">Link<a></li>
<li>Industry open:  <a href="industry.html">Link<a></li>
<li>News:  <a href="news.html">Link<a></li>
<li>News-open:  <a href="news-detail.html">Link<a></li>
<li>Practise Areas:  <a href="practise-areas.html">Link<a></li>
<li>Practise Areas open:  <a href="practise-areas-open.html">Link<a></li>
<li>Attorneys:  <a href="attorneys.html">Link<a></li>
<li>Attorneys open:  <a href="attorneys-open.html">Link<a></li>
<li>Offices:  <a href="offices.html">Link<a></li>
<li>Journals:  <a href="journals.html">Link<a></li>
<li>Journals open:  <a href="journals-open.html">Link<a></li>
<li>Wins:  <a href="wins.html">Link<a></li>
<li>Wins Timeline:  <a href="wins-timeline.html">Link<a></li>
<li>Wins Open:  <a href="wins-open.html">Link<a></li>
<li>About Us:  <a href="about-us.html">Link<a></li>
<li>Careers:  <a href="careers.html">Link<a></li>
<li>Careers open:  <a href="careers-open.html">Link<a></li>
<li>Contact us:  <a href="contact-us.html">Link<a></li>
<li>Contact us open:  <a href="contact-us-open.html">Link<a></li>