.page-wins {
    .content-wrapper {
        padding-top: 55px;
        max-width: 600px;
        padding-bottom: 120px;
        h2 {
            margin-bottom: 40px;
        }
        .select-box {
            margin-right: 25px;
            margin-bottom: 60px;
        }
        h3 {
            color: #252524;
            font-size: 30px;
            margin-bottom: 30px;
        }
        ul {
            margin: 0px;
            li {
                padding-left: 60px;
                position: relative;
                margin-bottom: 25px;
                label {
                    color: #4b4d53;
                    line-height: 12px;
                    font-size: 12px;
                }
                h5 {
                    font-size: 24px;
                    a {
                        color: #1a497c;
                    }
                }
            }
        }
        .view-more {
            margin-top: 65px;
        }
    }
}

.page-wins-timeline {
    .content-wrapper {
        padding-top: 55px;
        padding-bottom: 120px;
        padding-left: 15px;
        padding-right: 15px;
        h2 {
            margin-bottom: 40px;
        }
        .select-box {
            margin-right: 25px;
            margin-bottom: 60px;
        }
        h3 {
            color: #252524;
            font-size: 30px;
            margin-bottom: 30px;
        }
        ul {
            margin: 0px;
            li {
                padding-left: 60px;
                position: relative;
                padding-bottom: 25px;
                &:nth-child(odd) {
                    width: 50%;
                    padding-left: 0;
                    text-align: right;
                    padding-right: 40px;
                    border-right: 1px solid #1a497c;
                    .grid-badge {
                        right: -20px;
                        left: auto;
                    }
                }
                &:nth-child(even) {
                    width: 50%;
                    margin-left: 50%;
                    padding-left: 40px;
                    border-left: 1px solid #1a497c;
                    .grid-badge {
                        left: -20px;
                    }
                }
                &:last-child {
                    border: none;
                }
                label {
                    color: #4b4d53;
                    line-height: 12px;
                    font-size: 12px;
                }
                h5 {
                    font-size: 24px;
                    a {
                        color: #1a497c;
                    }
                }
            }
        }
        .view-more {
            margin-top: 135px;
        }
    }
}

.black-btn {
    &.small {
        font-size: 12px;
        padding: 6px 20px;
    }
}

.page-wins-open {
    .right-sidebar {
        &>div {
            margin-bottom: 15px;
        }
        max-width: 230px;
    }
    .bottom-content-slider {
        padding: 30px 0 55px 0;
        h5 {
            color: rgba(184, 182, 179, 0.4);
            font-size: 18px;
            margin-bottom: 30px;
            padding: 0 10%;
        }
    }
}