.page-attorneys {
    .content-wrapper {
        padding-bottom: 166px;
    }
    .listing-page .content-wrapper h2 {
        margin-bottom: 40px;
    }
    .top-select-box {
        .select-box {
            margin-right: 25px;
            margin-bottom: 100px;
        }
    }
    .grid-section {
        box-shadow: 0px 2px 4px 0px rgba(30, 25, 20, 0.2);
        -webkit-box-shadow: 0px 2px 4px 0px rgba(30, 25, 20, 0.2);
        height: 100%;
    }
    .grid {
        margin-bottom: 65px;
        .content {
            padding: 20px 20px 45px 20px;
            h5 {
                margin-bottom: 10px;
            }
            p {
                margin-bottom: 0px;
                font-family: Bitter;
                color: #4b4d53;
            }
        }
        .img-section {
            overflow: hidden;
            img {
                min-width: 100%;
                min-height: 150px;
            }
        }
    }
    .view-more {
        margin-top: 15px;
        .blue-btn {
            font-size: 12px;
            height: 30px;
            width: 100px;
            padding: 7px 0px;
        }
    }
    .views-exposed-form {
        .views-submit-button,
        .views-reset-button {
            .form-submit {
                margin-top: 0px;
            }
        }
    }
}

.page-attorneys-open {
    .right-sidebar {
        margin-top: 65px;
    }
    .content-wrapper {
        padding-top: 65px;
        padding-bottom: 190px;
        max-width: 1106px;
        h2 {
            margin-top: 5px;
            margin-bottom: 30px;
            text-align: left;
            color: $blue;
        }
        .content {
            p {
                color: #4b4d53;
                font-size: 18px;
                margin-bottom: 0px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                line-height: 27px;
                max-height: 81px;
            }
        }
        .img-section {
            overflow: hidden;
            img {
                min-height: 230px;
                min-width: 230px;
            }
        }
        .right-sidebar {
            padding: 20px 15px;
            border: 1px solid #b8b6b3;
            font-family: Bitter;
            color: #4b4d53;
            a {
                color: #3c97d7;
            }
            p {
                padding-left: 30px;
                background-position: 0 8px;
                background-repeat: no-repeat;
                margin-bottom: 0px;
                padding-bottom: 5px;
                padding-top: 5px;
            }
            .email {
                background-image: url('../images/mail.png');
            }
            .phone {
                background-image: url('../images/phone.png');
                background-size: 19px;
            }
            .education {
                background-image: url('../images/graduation.png');
                background-position: 0 8px;
            }
            .document {
                background-image: url('../images/document.png');
                background-size: 17px;
                background-position: 5px 4px;
            }
            .location {
                background-image: url('../images/location.png');
                background-size: 17px;
                background-position: 3px 5px;
            }
        }
        .top-content {
            padding-bottom: 25px;
            border-bottom: 1px solid #f1f2f7;
            margin-left: -15px;
            margin-right: -15px;
            max-width: calc( 100% + 30px);
        }
        .tabs-wrap {
            padding-top: 35px;
            padding-bottom: 35px;
            margin-left: -15px;
            margin-right: -15px;
            max-width: calc( 100% + 30px);
            .tabs {
                border: none;
                li {
                    margin-bottom: 12px;
                    a {
                        font-family: Bitter;
                        color: #6c6b6b;
                        font-size: 14px;
                        display: block;
                        padding: 17px 25px;
                        background-color: #d5d5d5;
                        position: relative;
                    }
                    &.is-active {
                        a {
                            color: #fff;
                            background-color: #243c56;
                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                right: -23px;
                                width: 0;
                                height: 0;
                                border-top: 24px solid transparent;
                                border-bottom: 24px solid transparent;
                                border-left: 23px solid #243c56;
                            }
                        }
                    }
                }
            }
            .tabs-content {
                border: none;
                .tabs-panel {
                    padding-top: 0px;
                    padding-bottom: 0px;
                }
                p {
                    color: #4b4d53;
                    margin-bottom: 30px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}