// --------------------------------
//					   		  SETUP
// --------------------------------

// Set global row max-width for design
	.row {max-width: 71.25em;}

/* --- Mixins --- */

	// Reset <li> elements
	@mixin li-reset {
		list-style:none; 
		margin:0; 
		padding:0;
		
		li {
			list-style:none; 
			margin:0; 
			padding:0;
		}
	}

	// Remove text from elements
	@mixin rm-text {
		text-align:left;
		text-indent:-9999px;
		*font-size:0;
		*line-height:0px;
	}

	// Remove li bottom margin
	@mixin li-margin($columns, $marginBottom) {
		&:nth-last-child(-n + #{$columns}):nth-child(#{$columns}n + 1),
		&:nth-last-child(-n + #{$columns}):nth-child(#{$columns}n + 1) ~ li {margin-bottom:$marginBottom;}
	}

	// Centered background images
	@mixin bg-img {
		background-position:center center;
		background-repeat:no-repeat;
		background-size:contain;
	}

/* --- Variables --- */
	$text: #000000;
	$bg: #fff;

	// padding used in foundation
	$bump:0.9375em;

/* --- Fonts --- */

	// @font-face blah here...

	@mixin font-body {
		font-size:16px;
	}

	@mixin font-bold {
		font-weight:normal;
	}

	@mixin font-title {
		
	}

/* --- Global classes --- */

	.hidden {display:none; visibility: hidden;}

	.clearfix {display:block; clear:both;
		&:before, &:after {content:" "; display:table;}
		&:after { clear:both;}
	}

	// Keep video ratio for fluid widths
	.file-video {
		.video-container, .media-vimeo-video { 
			position: relative; 
			padding-bottom:56.25%; 
			padding-top:25px; 
			height:0;
			
			iframe { 
				position:absolute; 
				top:0; 
				left:0;
				width:100%; 
				height:100%;
			}
		}
	}
	// Souncloud
	.file-audio {
		.media-soundcloud-audio iframe {width:100%; max-height:150px;}
	}

	// Emergency message defaults
	#emergency-message {
		padding:1em;
		background:$bg;
		color:$text;
		position:relative;
		text-align:center;

		p:last-child {
			margin-bottom:0;
		}

		#em-close {
			position:absolute;
			top:1em;
			right:1em;
			@include rm-text;
			display:block;
			height:30px;
			width: 30px;
			@include bg-img;
			background-image:url('../images/emClose.png');
			cursor:pointer;
		}
	}

// --------------------------------
//					   		 STYLES
// --------------------------------

body, html {
	color:$text; 
	@include font-body; 
	height:100%; 
	-webkit-text-size-adjust:100%;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:400; 
	@include font-title;
	margin:0.5em 0;
}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

p {line-height:1.5;}
strong {@include font-bold;}
em {font-style:italic;}
small {font-size:90%;}
a {
	text-decoration:none; 
	transition:all 0.2s ease-in-out; 
	outline:0;

	&:hover, &:focus {}
}

form {
	input,
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="submit"],
	textarea,
	select {
		@include font-body;
		color:$text;
		resize:none;
		padding:0.5em 1em;
		-webkit-appearance:none;
		-webkit-border-radius:0px;
		border-radius:0;
		outline:0;
		border:0;
		transition:all 0.2s ease-in-out;
	}

	.form-actions  input,
	input[type="submit"] {cursor:pointer;}
}

#header {
	#site-name {@include rm-text;
		a {}
	}
}

#nav-toggle {display:none;}

// UL cols
ul.listing {
	@include li-reset;

	li {
		vertical-align:top;
		margin-bottom:2%;
		margin-right:2%;
		float:left;
		position:relative;
	}
}

ul.one-col {
	li {
		width:100%;
		margin-right:0;

		&:last-child {margin-bottom:0;}
	}
}

ul.two-col {
	li {
		width:49%;

		&:nth-of-type(2n+2) {margin-right:0;}
	}
}

ul.three-col {
	li {
		width:32%;

		&:nth-of-type(3n+3) {margin-right:0;}
	}
}

ul.four-col {
	li {
		width:23.5%;

		&:nth-of-type(4n+4) {margin-right:0;}
	}
}

ul.five-col {
	li {
		width:18.4%;

		&:nth-of-type(5n+5) {margin-right:0;}
	}
}

ul.six-col {
	li {
		width:15%;

		&:nth-of-type(6n+6) {margin-right:0;}
	}
}

ul.pager {
	@include li-reset;
	text-align:center;
	display:block;
	clear:both;

	li {
		display:inline-block;

		a {
			padding:10px 20px;
			display:block;
		}

		&.pager-current {
			padding:10px 20px;
		}
	}
}



// --------------------------------
//					   ADMIN STYLES
// --------------------------------

// w/ admin bar
body.logged-in {	
	// Open Shortcut menu
	&.admin-menu-with-shortcuts {}
}

.tabs {
	ul {border:none !important; margin:1em 0 !important; padding:0;
		li { margin-right:1em;
			a {
				color:$text !important;
				background:$bg !important; 
				padding:0.5em 1em !important; 
				margin:0!important; 
				border:1px solid $text;
			}
			a.active, 
			a:hover {
				color:$bg !important; 
				background:$text !important;
			}
		}
	}
}

// --------------------------------
//     				   	   MEDIA Qs
// --------------------------------

.hide-for-mobile {display:block !important;}
.show-for-mobile {display:none !important;}

/* Large Desktop */
@media screen and (min-width: 1441px) {
	
}

/* Small Desktop */
@media screen and (max-width: 1200px) {
	
}

/* Tablet landscape */
@media screen and (max-width: 1025px) {

}

/* Tablet portrait */
@media screen and (max-width: 800px) {

}

/* Mobile */
@media handheld, only screen and (max-width:767px) { 

	.hide-for-mobile {display:none !important;}
	.show-for-mobile {display:block !important;}

	#nav-toggle {display:block;}


	// By default everything to 1 col
	ul.two-col,
	ul.three-col,
	ul.four-col,
	ul.five-col,
	ul.six-col {
		li {
			width:100%;
			margin-right:0;
		}
	}

}

/* Sm Mobile */
@media handheld, only screen and (max-width:480px) {

}