.page-about-us {
    color: #4b4d53;
    .detail-page .content-wrapper {
        padding-top: 95px;
        padding-bottom: 75px;
        max-width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        h2 {
            margin-bottom: 75px;
            text-align: center;
            color: #252525;
        }
        .timeline-wrapper {
            overflow: hidden;
        }
        .left {
            padding-right: 40px;
            width: 50%;
            float: left;
            h5 {
                color: #252524;
                font-size: 24px;
                padding-left: 47px;
                font-style: italic;
                margin-bottom: 45px;
            }
            ul {
                margin: 0px;
                li {
                    &:last-child {
                        .content {
                            border-left: none;
                            padding-bottom: 0px;
                        }
                    }
                }
            }
            .year {
                float: left;
                color: #252524;
                font-size: 18px;
                font-weight: 700;
                padding-right: 20px;
                position: relative;
            }
            .content {
                overflow: hidden;
                border-left: 2px solid #003386;
                padding-left: 20px;
                padding-bottom: 60px;
                p {
                    margin-bottom: 20px;
                    font-family: Bitter;
                    color: #252524;
                    font-size: 14px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    line-height: 24px;
                    max-height: 72px;
                }
            }
            .round {
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background-color: #003386;
                display: inline-block;
                position: absolute;
                right: -15px;
                top: 0;
            }
        }
        .left + .right {
            padding-left: 50px;
            width: 50%;
            float: left;
        }
        .right {
            p {
                margin-bottom: 35px;
            }
            .image-section {
                margin-bottom: 6px;
                margin-left: -3px;
                margin-right: -3px;
                .left-image {
                    padding-right: 3px;
                    padding-left: 3px;
                }
                .right-image {
                    padding-left: 3px;
                    padding-right: 3px;
                }
            }
        }
    }
    .image-section {
        margin: 80px -100px 90px -100px;
        img {
            min-width: 100%;
        }
    }
}