.detail-page {
    .content-wrapper {
        h2 {
            margin-bottom: 40px;
        }
        p {
            margin-bottom: 20px;
        }
        .image-wrap {
            img {
                min-width: 100%;
                margin: 30px 0px;
            }
        }
    }
}

.bottom-content-slider {
    padding: 40px 0;
    background-color: $cream;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
    .slider-controls {
        margin-top: -40px;
        background-color: rgba(30, 25, 20, 0.12);
    }
    .slider-item {
        .image-left {
            float: left;
            width: 100px;
            height: 100px;
            img {
                width: 100%;
                height: 100%;
                margin-right: 15px;
            }
        }
        .content {
            padding: 15px;
            overflow: hidden;
            h5 {
                color: #365e86;
                font-size: 18px;
                overflow: hidden;
                -webkit-line-clamp: 3;
                line-height: 23px;
                max-height: 69px;
                margin-bottom: 0px;
            }
        }
    }
    .owl-item {
        background-color: $white;
    }
}

.page-industries {
    .industries-list {
        margin: 0px;
        li {
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
        .thumbnail {
            // width: 340px;
            // float: left;
            border: none;
            margin-bottom: 0;
            box-shadow: none;
            img {
                width: 100%;
            }
        }
        .content {
            // overflow: hidden;
            word-break: break-word;
            padding-left: 35px;
            padding-top: 10px;
            h3 {
                font-size: 36px;
                margin-bottom: 25px;
                a {
                    color: $blue;
                }
            }
            p {
                color: #4b4d53;
                font-size: 16px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                line-height: 24px;
                max-height: 72px;
                margin-bottom: 25px;
            }
            .view-more {
                a {
                    display: inline-block;
                    width: 29px;
                    height: 22px;
                    background-image: url('../images/arrow-thin-right.png');
                }
            }
        }
    }
    .detail-page {
        .content {
            line-height: 24px;
        }
    }
}